<template name = "backhand">
  <a name="about"></a>
  <div class="backendd">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Backend Developing</h1>


                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <div class="inner-container">
<section class="overview-container">
<div class="row">
<div class="col-md-4">
<aside id="sidebar" class="hidden-xs" data-spy="affix" data-offset-top="515">
<h2>Back End</h2>
<p class="preview">Preview</p>
<ul class="nav">

<li>
<a href="#programming-languages">Programming Languages</a></li>
<li>
<a href="#python">Python</a></li>
<li>
<a href="#programming-concepts">Programming Concepts</a></li>
<li>
<a href="#flask-and-jinja">Flask and Jinja</a></li>
<li>
<a href="#heroku">Heroku</a></li>
<li><a href="#what-to-learn-next">What To Learn Next</a></li>
</ul>
<br/>
<p>
<a class="login-button" href="/tracks">Return to tracks</a>
</p>
</aside>
</div>
<div class="col-md-8">
<h2>Overview</h2>
<p>Take your development skills beyond static web pages and make your website smart. Learn how to build a web server to handle complex tasks, manage data, and have full control over your application. Use the same powerful tools that professional programmers use. Great for front end developers who want to make applications that solve problems and for product managers who work with developers.</p>
<div id="preview-container" class="row">
<h3>Keep updated with our brand new stuff.Follow Us-</h3>
<div class="col-md-4 col-md-offset-2">
<form action="www.twitter.com/leoharsha10" method="POST">
<button class="login-button twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
</form>
</div>
<div class="col-md-4">
<form action="www.facebook.com/leoharshapage" method="POST">
<button class="login-button facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
</form>
</div>
</div>
<article class="author">
<h3>Who curated this track</h3>
<div class="row">

<div class="col-md-3 hidden-xs">
<img src='leoharsha.PNG' class="img-responsive" alt="Leo Harsha"/>
</div>
<div class="col-md-9">
<h4>Leo Harsha</h4>
<p><a class="twitter-follow-button" href="https://twitter.com/leoharsha10" data-show-count="true" data-size="large" data-lang="en">
Follow @LeoHarsha10
</a></p>
<ul>
<li>Founder of <a href="/">BanjaDev</a></li>
<li> Full stack developer</li>
<li>Self taught web developer</li>
</ul>
</div>
</div>
</article>

<article id="programming-languages">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Programming Languages</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_51"><a href="http://learnxinyminutes.com/docs/javascript/" target="_blank">Learn X in Y Minutes - JavaScript</a></h3>
<p>Go through this one page summary of JavaScript, a language you should already be familiar with. This is just review, but pay close attention to the features of the language.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 10M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_52"><a href="http://learnxinyminutes.com/docs/python/" target="_blank">Learn X in Y Minutes - Python</a></h3>
<p>Now go through this one page summary of the Python language. Notice the similarities that it has with JavaScript. Study this page carefully.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 30M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="python">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Python</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_54"><a href="http://www.codecademy.com/courses/introduction-to-python-6WeG3/0/1?curriculum_id=4f89dab3d788890003000096" target="_blank">Codecademy - Python</a></h3>
<p>Getting an overview isn&#39;t quite enough. Go through this interactive course to actually get your hands dirty. Finish the whole course.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 10H</p>
<span class="label label-success">FREE</span>
</div>
</div>


<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_57"><a href="http://www.dabapps.com/blog/introduction-to-pip-and-virtualenv-python/" target="_blank">Pip and Virtualenv</a></h3>
<p>Python has an amazing ecosystem of packages for you to download so you can do more with Python. Virtualenv is a way for you to keep your installations separate. Learn about both to help you manage addons to Python.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 30M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="programming-concepts">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Programming Concepts</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_59"><a href="https://www.youtube.com/watch?v=SS-9y0H3Si8" target="_blank">What is Object-Oriented Language?</a></h3>
<p>Thinking about programming in terms of what are called &#39;objects&#39; is absolutely fundamental. You&#39;ve had some exposure to this learning Python. Watch this amazing video by Simon Allardice on what it means.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 6M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_60"><a href="https://www.youtube.com/watch?v=Mv9NEXX1VHc" target="_blank">What on Earth is Recursion?</a></h3>
<p>Recursion is a concept that a lot of beginning programmers have trouble with. It takes your understanding of functions and takes it to the next level. Watch this video to get a basic overview of how it works.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 10M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="flask-and-jinja">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Flask and Jinja</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_62"><a href="http://flask.pocoo.org/docs/0.10/quickstart/" target="_blank">Flask Quickstart</a></h3>
<p>Build a basic web application using this documentation. This is one of the best written getting started guides and it should give you the basics you&#39;ll need for Flask. Go through the whole thing.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 2H</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_63"><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Flask Mega Tutorial</a></h3>
<p>This is a comprehensive tutorial on the Flask web framework by the guy who wrote the book on the subject. With the foundational pieces you got from the documentation, you can see what it&#39;s like to write Flask applications in a standard way. Go through the whole tutorial.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 13H</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_64"><a href="http://jinja.pocoo.org/docs/dev/templates/" target="_blank">Template Designer Documentation</a></h3>
<p>You had some exposure to templating with Jinja in the previous tutorials. Now go through the documentation of Jinja to learn its full power as a templating engine in Flask.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 45M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="heroku">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Heroku</h2>
</div>
</div>


<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_67"><a href="https://devcenter.heroku.com/articles/getting-started-with-python-o" target="_blank">Getting Started with Python on Heroku</a></h3>
<p>Skim through this documentation so you have an understanding of what you&#39;ll have to do. You&#39;ll use this as a reference for the next lesson.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 5M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_68"><a href="https://www.youtube.com/watch?v=L9uD74nHvFY" target="_blank">Deploying to Heroku</a></h3>
<p>Watch this video and follow along with your own Flask application. It takes you through the process of setting up and deploying your application with Heroku.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 20M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="what-to-learn-next">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">What To Learn Next</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-8 col-md-offset-2">
<h3><a href="/databases">Databases</a></h3>
<p>A big part of creating web applications is storing and managing data. Learn how to model your data, store it, and manage it with one of the most powerful databases professional developers use. This is the natural next step after the Backend track, and it is a prerequisite for this track. If you are interested in data science, you can also go through part of this track to deepen your skills.</p>
</div>
</div>
</article>
</div>
</div>
</section>
</div>
</template>
