<template name = "databases">
  <!-- Header -->
  <a name="about"></a>
  <div class="databases">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Databases</h1>

                      <hr class="intro-divider">
                    
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <div class="inner-container">
<section class="overview-container">
<div class="row">
<div class="col-md-4">
<aside id="sidebar" class="hidden-xs" data-spy="affix" data-offset-top="515">
<h2>Databases</h2>
<p class="preview">Preview</p>
<ul class="nav">
<li>
<a href="#foundations">Foundations</a></li>
<li>
<a href="#sql">SQL</a></li>
<li>
<a href="#postgresql">PostgreSQL</a></li>
<li>
<a href="#sqlalchemy">SQLAlchemy</a></li>
<li>
<a href="#alembic">Alembic</a></li>
</ul>
<br/>
<p>
<a class="login-button" href="/tracks">Return to tracks</a>
</p>
</aside>
</div>
<div class="col-md-8">
<h2>Overview</h2>
<p>A big part of creating web applications is storing and managing data. Learn how to model your data, store it, and manage it with one of the most powerful databases professional developers use. This is the natural next step after the Backend track, and it is a prerequisite for this track. If you are interested in data science, you can also go through part of this track to deepen your skills.</p>
  <div id="preview-container" class="row">
  <h3>Keep updated with our brand new stuff.Follow Us-</h3>
  <div class="col-md-4 col-md-offset-2">
  <form action="www.twitter.com/leoharsha10" method="POST">
  <button class="login-button twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
  </form>
  </div>
  <div class="col-md-4">
  <form action="www.facebook.com/leoharshapage" method="POST">
  <button class="login-button facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
  </form>
  </div>
  </div>
  <article class="author">
  <h3>Who curated this track</h3>
  <div class="row">

  <div class="col-md-3 hidden-xs">
  <img src='leoharsha.PNG' class="img-responsive" alt="Leo Harsha"/>
  </div>
  <div class="col-md-9">
  <h4>Leo Harsha</h4>
  <p><a class="twitter-follow-button" href="https://twitter.com/leoharsha10" data-show-count="true" data-size="large" data-lang="en">
  Follow @LeoHarsha10
  </a></p>
  <ul>
  <li>Founder of <a href="/">BanjaDev</a></li>
  <li> Full stack developer</li>
  <li>Self taught web developer</li>
  </ul>
  </div>
  </div>
  </article>
<article id="foundations">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Foundations</h2>
</div>
</div>


<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_71"><a href="https://www.youtube.com/playlist?list=PLnxBrInqFEs7DqOUljmVlgZ_xRRSsyesu" target="_blank">Foundations of Programming: Databases</a></h3>
<p>This is a video series that will give you a comprehensive overview of databases that every programmer should know. Go through the whole playlist.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 3H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="sql">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">SQL</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_73"><a href="http://www.w3schools.com/sql/sql_intro.asp" target="_blank">Introduction to SQL</a></h3>
<p>You&#39;ve had some exposure to SQL in the foundations section of this track, but learn the ins and outs of the language. This is an old, but still excellent tutorial on SQL from w3schools.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 3H</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_74"><a href="http://sqlzoo.net/wiki/Main_Page" target="_blank">SQLZoo</a></h3>
<p>Now that you know the basics of SQL, it&#39;s time to try some exercises and get your hands dirty. Go through these interactive tutorials to get through the motions.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 4H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="postgresql">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">PostgreSQL</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_76"><a href="http://postgresapp.com/" target="_blank">Postgres.app</a></h3>
<p>This is the easiest way to download Postgres if you have a Mac. Go ahead and download it.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 5M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_77"><a href="http://www.chesnok.com/daily/2013/11/06/top-10-psql-commands-i-use/" target="_blank">Top 10 Psql Commands I Use</a></h3>
<p>Once you install Postgres, you should have access to the command &#39;psql&#39; in your terminal to interact with Postgres. Learn how to use some basic commands in this article.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="sqlalchemy">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">SQLAlchemy</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_79"><a href="http://killtheyak.com/use-postgresql-with-django-flask/" target="_blank">Use PostgreSQL with Flask</a></h3>
<p>This is a very quick guide to getting your Postgres database connected to Flask. To start using SQLAlchemy, you&#39;re going to need to do this. Try it with your own Flask application.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_80"><a href="https://pythonhosted.org/Flask-SQLAlchemy/quickstart.html" target="_blank">Flask-SQLAlchemy Quickstart</a></h3>
<p>Download the Flask-SQLAlchemy package using Python&#39;s pip and go through this tutorial. Try going through it using your Postgres database instead of a SQLite database.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 30M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_81"><a href="http://www.pythoncentral.io/introductory-tutorial-python-sqlalchemy/" target="_blank">Python SQLAlchemy Tutorial</a></h3>
<p>This is a pretty extensive tutorial that will show you how Python works together with SQLAlchemy. Go through all the articles in this series, using Postgres as your database instead of SQLite.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 5H</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_82"><a href="http://docs.sqlalchemy.org/en/rel_0_9/orm/tutorial.html" target="_blank">Object Relational Tutorial</a></h3>
<p>This is the official documentation for SQLAlchemy. It&#39;s the most comprehensive tutorial on their platform as you&#39;ll get and it&#39;s worth spending time studying it. Go through the whole thing.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 7H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="alembic">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Alembic</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_84"><a href="http://michaelmartinez.in/basic-alembic-migrations-with-flask.html" target="_blank">Basic Alembic Migrations with Flask</a></h3>
<p>This is a straightfoward, easy-to-understand tutorial on how Alembic, Flask, SQLAlchemy, and Postgres all fit together. Go through it with your own Flask application.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 1H</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_85"><a href="http://alembic.readthedocs.org/en/latest/tutorial.html" target="_blank">Alembic Tutorial</a></h3>
<p>Even with a practical understanding of Alembic, it&#39;s still very important to get a comprehensive understanding of the technology. This is Alembic&#39;s official tutorial. Go through the whole thing.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 3H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
</div>
</div>
</section>
</div>
</template>
