<template name = "fronthand1">
  <a name="about"></a>
  <div class="fronthand1">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Fronthand Part-1</h1>

                      <div class="row login-container">
  <p>Happy Coding</p>
  </div>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <div class="backcolor">


  <div class="inner-container">
<section class="overview-container">
<div class="row">
<div class="col-md-4">
<aside id="sidebar" class="hidden-xs" data-spy="affix" data-offset-top="515">
<h2>Front End</h2>
<p class="preview">Preview</p>
<ul class="nav">
<li class="locked">
<a href="#foundations">Foundations</a></li>
<li>
<a href="#html-and-css">HTML and CSS</a></li>
<li>
<a href="#workflow">Workflow</a></li>
<li>
<a href="#important-concepts">Important Concepts</a></li>
<li>
<a href="#shell">Shell</a></li>
<li>
<a href="#git-and-github">Git and GitHub</a></li>
<li><a href="#what-to-learn-next">What To Learn Next</a></li>
</ul>
<br/>
<p>
<a class="login-button" href="/tracks">Return to tracks</a>
</p>
</aside>
</div>
<div class="col-md-8">
<h2>Overview</h2>
<p>After completing this section,You'll learn all the stuff which needs to building a static website and put it on the internet,the same way how the expert developers do.You'll know the best methods that a good developer use.This is the beginning of everything.Welcome to the world of web.</p>
{{> author}}
<article id="html-and-css">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">HTML and CSS</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_14"><a href="http://www.codecademy.com/courses/web-beginner-en-HZA3b/0/1?curriculum_id=50579fb998b470000202dc8b" target="_blank">HTML and CSS on codeacademy</a></h3>
<p>Learn HTML and CSS interactive lessons on codeacademy.Learn the whole course.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 7H</p>
<span class="label label-success">FREE</span>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_16"><a href="http://mdo.github.io/code-guide" target="_blank">Code Guide</a></h3>
<p>The best style code guide by creator of Bootstrap.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_17"><a href="https://dash.generalassemb.ly/?vip=bento" target="_blank">Dash - HTML5 and CSS3</a></h3>
<p>Learn modern elements and know how HTML and CSS come together in a project.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 2H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="workflow">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Workflow</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_18"><a href="http://generalassembly.wistia.com/medias/qzig8mp4mv" target="_blank">Writing HTML and CSS code on Your Computer</a></h3>
<p>Watch the first 11 minute of the video.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 11M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_19"><a href="http://code.tutsplus.com/courses/perfect-workflow-in-sublime-text-2" target="_blank">Sublime Text</a></h3>
<p>Learn how to use the Sublime text editor.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 40M</p>
<span class="label label-success">FREE</span>
</div>
</div>

</article>
<article id="important-concepts">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Important Concepts</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_22"><a href="http://www.w3schools.com/html/html5_semantic_elements.asp" target="_blank">Semantic HTML</a></h3>
<p>List of tags you should know in HTML. Read this through.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>


<article id="shell">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Shell</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_26"><a href="http://linuxcommand.org/lc3_learning_the_shell.php" target="_blank">Shell</a></h3>
<p>The Shell is the direct way to interact with the computers.It's important for the developer.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 1H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="git-and-github">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Git and GitHub</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_28"><a href="https://try.github.io/levels/1/challenges/1" target="_blank">Git</a></h3>
<p>Version control is a really important part of any professional developer's toolkit. It helps with saving your work, collaboration, and managing changes. Go through this entire interactive tutorial.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_30"><a href="https://www.youtube.com/watch?v=0fKg7e37bQE" target="_blank">GitHub</a></h3>
<p>GitHub is a place for you to share and collaborate with others on your code. It&#39;s one of the best ways to manage your work, and a great way to get involved in the development community. Watch this video tutorial and follow along.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 20M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_31"><a href="https://pages.github.com/" target="_blank">GitHub Pages</a></h3>
<p>GitHub has a feature to make your webpage accessible on the Internet. Let&#39;s put your hard work somewhere for everyone to see, even if you don&#39;t think it&#39;s ready. Read this tutorial on how.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 1H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="what-to-learn-next">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">What To Learn Next</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-8 col-md-offset-2">
<h3><a href="/tracks/front-end-continued">Front End Continued</a></h3>
<p>Take your front end skills to the next level with critical skills and pick up your first real programming language: JavaScript. Learn how to make your website interactive, look good on any device, and best practices around development. The next natural step after front end basics and the perfect track for designers.</p>
</div>
</div>

</article>
</article>
</div>
</div>
</section>
</div>
</div>
</template>
