<template name= "fronthand2">
  <a name="about"></a>
  <div class="fronthand2">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Fronthand Part-2</h1>
                      
                      <hr class="intro-divider">
                      <ul class="list-inline intro-social-buttons">
                          <li>
                              <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Tracks</span></a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Courses</span></a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Login</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <div class="inner-container">
<section class="overview-container">
<div class="row">
<div class="col-md-4">
<aside id="sidebar" class="hidden-xs" data-spy="affix" data-offset-top="515">
<h2>Front End Continued</h2>
<p class="preview">Preview</p>
<ul class="nav">
<li class="locked">
<a href="#foundations">Foundations</a></li>
<li>
<a href="#javascript">JavaScript</a></li>
<li>
<a href="#libraries">Libraries</a></li>
<li>
<a href="#jquery">jQuery</a></li>
<li>
<a href="#less">Less</a></li>
<li><a href="#what-to-learn-next">What To Learn Next</a></li>
</ul>
<br/>
<p>
<a class="login-button" href="/tracks">Return to tracks</a>
</p>
</aside>
</div>
<div class="col-md-8">
<h2>Overview</h2>
<p>Take your front end skills to the next level with critical skills and pick up your first real programming language: JavaScript. Learn how to make your website interactive, look good on any device, and best practices around development. The next natural step after front end basics and the perfect track for designers.</p>
{{> author}}

<article id="javascript">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">JavaScript</h2>
</div>
</div>


<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_35"><a href="http://www.codecademy.com/courses/getting-started-v2" target="_blank">Codecademy - JavaScript</a></h3>
<p>Learn the basics of JavaScript and programming languages generally through these interactive tutorials. Pay close attention to this lesson since it will lay the foundation for many other lessons in the future. Go through the whole course.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 10H</p>
<span class="label label-success">FREE</span>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_37"><a href="http://juliepagano.com/blog/2014/05/18/javascript-debugging-for-beginners/" target="_blank">JavaScript Debugging for Beginners</a></h3>
<p>Learning how to find errors in your JavaScript is a fundamental skill to being productive in the language. Learn the tools you&#39;ll need and how to manage your workflow when coding in JavaScript for your website.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 45M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_38"><a href="http://it-ebooks.info/book/274/" target="_blank">JavaScript: The Good Parts</a></h3>
<p>JavaScript is notorious for its quirks and it oftentimes leads to surprising and sometimes unsightly code. This is the canonical book to read on JavaScript. Read it thoroughly and take its lessons to heart as best you can. If this is your first time programming, don&#39;t worry if you don&#39;t understand all of it, but make sure to go through it in its entirety.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 12H</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="libraries">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Libraries</h2>
</div>
</div>


<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_41"><a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></h3>
<p>This boiler plate is for you to download and really get things up and running quickly. It helps smooth out CSS differences between browsers, manage your file directory, and even give you some pre-built HTML. Download it, explore it, and use it for your next project.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_42"><a href="https://www.youtube.com/watch?v=no-Ntkc836w" target="_blank">Bootstrap</a></h3>
<p>Bootstrap is a library that makes you more productive when you&#39;re building websites. It has a lot of CSS classes that you can add to your HTML to make your website work on different devices, look nicer, and have more functionality. Watch this tutorial on how to use it.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="jquery">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">jQuery</h2>
</div>
</div>

<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_44"><a href="http://css-tricks.com/dom/" target="_blank">The Document Object Model</a></h3>
<p>JavaScript gives you access to something known as the Document Object Model, or DOM. jQuery gives you even easier access to it. Learn what it is in this short article.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 15M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_45"><a href="http://try.jquery.com/" target="_blank">Code School - jQuery</a></h3>
<p>Pick up the essential tools you&#39;ll need from jQuery and learn how it&#39;s used in your website. Go through this whole course.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 3H</p>
<span class="label label-success">FREE</span>
</div>
</div>

</article>
<article id="less">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Less</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_47"><a href="http://verekia.com/less-css/dont-read-less-css-tutorial-highly-addictive" target="_blank">Don&#39;t Read This Less CSS Tutorial</a></h3>
<p>Now that you understand how programming languages work, you can start applying those ideas to the other technologies you know already. Read this great article by Verekia on Less.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 30M</p>
<span class="label label-success">FREE</span>
</div>
</div>

</article>
<article id="what-to-learn-next">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">What To Learn Next</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-8 col-md-offset-2">
<h3><a href="/tracks/back-end">Back End</a></h3>
<p>Take your development skills beyond static web pages and make your website smart. Learn how to build a web server to handle complex tasks, manage data, and have full control over your application. Use the same powerful tools that professional programmers use. Great for front end developers who want to make applications that solve problems and for product managers who work with developers.</p>
</div>
</div>
</article>
</div>
</div>
</section>
</div>
</template>
