<template name = "fundamentals">
  <body>



      <!-- Header -->
      <a name="about"></a>
      <div class="fundamentals">
          <div class="container">

              <div class="row">
                  <div class="col-lg-12">
                      <div class="intro-message">
                          <h1>Basic Fundamentals</h1>
                          <h3>Things you should know before you start developing</h3>
                          <hr class="intro-divider">
                          <ul class="list-inline intro-social-buttons">
                              <li>
                                  <a href="/tracks" class="btn btn-default btn-lg"> <span class="network-name">Tracks</span></a>
                              </li>
                              <li>
                                  <a href="/courses" class="btn btn-default btn-lg"> <span class="network-name">Courses</span></a>
                              </li>
                              <li>
                                  <a href="/login" class="btn btn-default btn-lg"> <span class="network-name">Login</span></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <div class="inner-container">
<section class="overview-container">
<div class="row">
<div class="col-md-4">
<aside id="sidebar" class="hidden-xs" data-spy="affix" data-offset-top="515">
<h2>Web Fundamentals</h2>
<p class="preview">Preview</p>
<ul class="nav">
<li class="locked">
<a href="#foundations">Foundations</a></li>
<li>
<a href="#the-internet">The Internet</a></li>
<li>
<a href="#how-web-applications-work">How Web Applications Work</a></li>
<li>
<a href="#learning-to-code">Learning to Code</a></li>
<li><a href="#what-to-learn-next">What To Learn Next</a></li>
</ul>
<br/>
<p>
<a class="login-button" href="/tracks">Return to tracks</a>
</p>
</aside>
</div>
<div class="col-md-8">
<h2>Overview</h2>
<p>You don't know how internet or web works?Well,This is the right place for you.If you want to become an expert developer,you should know this fundamentals.These are the mandatary things every person should learn no matter what are you working upon.After completing this,you can cleverly,technically talk about web with your lads,counterparts.</p>
<div id="preview-container" class="row">
<h3>Keep updated with our brand new stuff.Follow Us-</h3>
<div class="col-md-4 col-md-offset-2">
<form action="www.twitter.com/leoharsha10" method="POST">
<button class="login-button twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
</form>
</div>
<div class="col-md-4">
<form action="www.facebook.com/leoharshapage" method="POST">
<button class="login-button facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
</form>
</div>
</div>
<article class="author">
<h3>Who curated this track</h3>
<div class="row">

<div class="col-md-3 hidden-xs">
<img src='leoharsha.PNG' class="img-responsive" alt="Leo Harsha"/>
</div>
<div class="col-md-9">
<h4>Leo Harsha</h4>
<p><a class="twitter-follow-button" href="https://twitter.com/leoharsha10" data-show-count="true" data-size="large" data-lang="en">
Follow @LeoHarsha10
</a></p>
<ul>
<li>Founder of <a href="/">BanjaDev</a></li>
<li> Full stack developer</li>
<li>Self taught web developer</li>
</ul>
</div>
</div>
</article>
<article id="foundations" class="locked">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Basic Fundamentals</h2>
</div>
</div>
<div class="row lesson locked tt" title="" data-placement="left" data-toggle="tooltip">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_2"><a href="https://www.youtube.com/watch?v=9hIQjrMHTv4" target="_blank">What is Digital Literacy?</a></h3>
<p>There are some things that everyone should learn about the technology and web development. You may not need to know how to build applications, but you should understand how they work.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 3M</p>
</div>
</div>
</article>
<article id="the-internet">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">The Internet</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_2"><a href="https://www.youtube.com/watch?v=9hIQjrMHTv4" target="_blank">History of the Internet</a></h3>
<p>Learn how internet came into exist</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 8M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_3"><a href="https://www.youtube.com/watch?v=XE_FPEFpHt4" target="_blank">Internet?What is this?</a></h3>
<p>Learn how internet archietected by watching this famous TED talk.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 12M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_4"><a href="https://www.youtube.com/watch?v=7_LPdttKXPc" target="_blank">How Internet Works</a></h3>
<p>How exactly this thing works?Learn by watching this 5 minute video.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 5M</p>
<span class="label label-success">FREE</span>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_5"><a href="https://www.youtube.com/watch?v=72snZctFFtA" target="_blank">What is DNS?</a></h3>
<p>What is this Domain Name System?watch this 5 minute video and know what and how exactly it works.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 6M</p>
<span class="label label-success">FREE</span>
</div>
</div>
</article>
<article id="how-web-applications-work">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">How Web Applications Work?</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_6"><a href="http://www.20thingsilearned.com/en-US" target="_blank">20 Things</a></h3>
<p>This is the great thing built by Google as it helps you to learn about common used terms.Go through the whole book.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 1H</p>
<span class="label label-success">FREE</span>
</div>
</div>

</article>
<article id="learning-to-code">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">Learning how to Code</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h3 id="trigger_lesson_8"><a href="http://www.lynda.com/Developer-Programming-Foundations-tutorials/What-programming/83603/90430-4.html" target="_blank">What is Programming?</a></h3>
<p>You may be interested in coding, but learn what is programming first.Watch this video to know about it.</p>
</div>
<div class="col-md-2">
<p><i class="fa fa-clock-o"></i> 6M</p>
<span class="label label-success">FREE</span>
</div>
</div>

</article>
<article id="what-to-learn-next">
<div class="row lesson-heading">
<div class="col-md-12">
<h2 class="section-title">What To Learn Next</h2>
</div>
</div>
<div class="row lesson">
<div class="col-md-8 col-md-offset-2">
<h3><a href="/tracks/front-end">Front End Development</a></h3>
<p>You'll learn all the stuff which needs to building a static website and put it on the internet,the same way how the expert developers do.You'll know the best methods that a good developer use.This is the beginning of everything.Welcome to the world of web.</p>
</div>
</div>
</article>
</div>
</div>
</section>
</div>
</body>
</template>
