<template name = "alchemy">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.alchemyapi.com/developers/getting-started-guide/" target="_blank" alt="Getting Started Guide">Getting Started Guide</a></p>
          <p><a href="http://www.alchemyapi.com/products/demo/" target="_blank" alt="Interactive Web Demo">Interactive Web Demo</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>Medium</h3>
          <p><a href="http://www.alchemyapi.com/api/" target="_blank" alt="Docs">Docs</a></p>
          <p><a href="http://www.alchemyapi.com/developers/sdks/" target="_blank" alt="SDKs">SDKs</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
        <h3>What you should learn next</h3>
        <p><a href="/facebook">facebook</a></p>
        <p><a href="/foursquare">foursquare</a></p>
        <p><a href="/twilio">twilio</a></p>
        </div>
      </div>
    
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
