<template name = "algo">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://interactivepython.org/runestone/static/pythonds/index.html#" target="_blank" alt="Problem Solving with Algorithms and Data Structures">Problem Solving with Algorithms and Data Structures</a></p>
          <p><a href="https://www.khanacademy.org/computing/computer-science/algorithms" target="_blank" alt="Khan Academy">Khan Academy</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
        <h3>What you should learn next</h3>
        <p><a href="/data structures">data structures</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/62715?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/62718?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
