<template name = "android">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://www.udacity.com/course/ud853" target="_blank" alt="How to Develop Android Apps">How to Develop Android Apps</a></p>
          <p><a href="http://developer.android.com/training/basics/firstapp/creating-project.html" target="_blank" alt="Building your first app">Building your first app</a></p>
          <p><a href="http://www.vogella.com/tutorials/Android/article.html" target="_blank" alt="Android Development">Android Development</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h4>What you should learn next</h4>
          <p><a href="/swift">swift</a></p>
          <p><a href="/windows phone">windows phone</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/2877?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/3609?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
