<template name = "angular">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro" target="_blank" alt="Shaping Up with Angular">Shaping Up with Angular</a></p>
          <p><a href="http://egghead.io/lessons" target="_blank" alt="egghead.io">egghead.io</a></p>
          <p><a href="http://www.thinkster.io/pick/GtaQ0oMGIl/" target="_blank" alt="A Better Way to Learn Angular">A Better Way to Learn Angular</a></p>
          <p><a href="http://www.ng-newsletter.com/posts/beginner2expert-how_to_start.html" target="_blank" alt="Beginner to Expert Guide to AngularJS">Beginner to Expert Guide to AngularJS</a></p>
          <p><a href="https://docs.angularjs.org/tutorial" target="_blank" alt="AngularJS Tutorial">AngularJS Tutorial</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/ember">ember</a></p>
          <p><a href="/jquery">jquery</a></p>
          <p><a href="/backbone">backbone</a></p>
          <p><a href="/flight">flight</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/61588?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/66076?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
