<template name = "apache">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://httpd.apache.org/docs/2.4/" target="_blank" alt="Apache Documentation">Apache Documentation</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/http">http</a></p>
          <p><a href="/rest">rest</a></p>
        <p><a href="/nginx">nginx</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/63008?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/63014?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div>
    </div><!--/row-->
  </div><!--/col-12-->
<!--/row-->

</template>
