<template name = "api">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api?hn" target="_blank" alt="Designing an API">Designing an API</a></p>
          <p><a href="http://blog.mashape.com/post/60820526317/list-of-40-tutorials-on-how-to-create-an-api" target="_blank" alt="A list of 40+ tutorials on how to make an api">A list of 40+ tutorials on how to make an api</a></p>
          <p><a href="https://www.runscope.com" target="_blank" alt="Debug and test APIs and backend services.">Debug and test APIs and backend services.</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/rest">rest</a></p>
<p><a href="/webhooks">webhooks</a></p>
<p><a href="/mashape">mashape</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/10901?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/10908?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
