<template name = "backbone">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://addyosmani.github.io/backbone-fundamentals/" target="_blank" alt="Developing Backbone.js Applications">Developing Backbone.js Applications</a></p>
          <p><a href="http://adrianmejia.com/blog/2012/09/11/backbone-dot-js-for-absolute-beginners-getting-started/" target="_blank" alt="Backbone.js for Absolute Beginners">Backbone.js for Absolute Beginners</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/angular">angular</a></p>
          <p><a href="/jquery">jquery</a></p>
          <p><a href="/ember">ember</a></p>
          <p><a href="/flight">flight</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/37265?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/37267?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
    
  </div><!--/col-12-->
</div><!--/row-->

</template>
