<template name = "bottle">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.realpython.com/blog/python/developing-with-bottle-part-1" target="_blank" alt="Developing with Bottle">Developing with Bottle</a></p>
          <p><a href="http://www.realpython.com/blog/python/developing-with-bottle-part-2-plot-ly-api" target="_blank" alt="Developing with Bottle - part 2">Developing with Bottle - part 2</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
        <p><a href="/flask">flask</a></p>
        <p><a href="/tornado">tornado</a></p>
        <p><a href="/mongo">mongo</a></p>
        <p><a href="/couchdb">couchdb</a></p>
        <p><a href="/django">django</a></p>
        <p><a href="/heroku">heroku</a></p>
        <p><a href="/memcached">memcached</a></p>
        </div>
      </div>

    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
