<template name = "cakephp">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://book.cakephp.org/2.0/en/" target="_blank" alt="CakePHP Cookbook (Docs)">CakePHP Cookbook (Docs)</a></p>
          <p><a href="http://book.cakephp.org/2.0/en/tutorials-and-examples/blog/blog.html" target="_blank" alt="Blog Tutorial">Blog Tutorial</a></p>
          <p><a href="http://community.cakephp.org/" target="_blank" alt="Community &amp; Help">Community &amp; Help</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/61355?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/61358?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
    <!-- ZEEF widget start --><iframe src="//zeef.io/block/61356?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
