<template name = "clojure">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.braveclojure.com/" target="_blank" alt="Clojure for the Brave and True">Clojure for the Brave and True</a></p>
          <p><a href="http://blackstag.com/blog.posting?id=5" target="_blank" alt="Clojure for Beginners">Clojure for Beginners</a></p>
          <h3>Medium</h3>
<p><a href="http://4clojure.com/" target="_blank" alt="4clojure">4clojure</a></p>

        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/30065?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">

        <!-- ZEEF widget start --><iframe src="//zeef.io/block/30066?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/30199?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
