<template name = "coffeescript">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://learnxinyminutes.com/docs/coffeescript/" target="_blank" alt="Learn X in Y Minutes">Learn X in Y Minutes</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
        <p><a href="/underscore">underscore</a></p>
        <p><a href="/angular">angular</a></p>
        <p><a href="/backbone">backbone</a></p>
        <p><a href="/jade">jade</a></p>
        <p><a href="/grunt">grunt</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/65509?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/65505?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
