<template name = "courses">
  <a name="about"></a>
  <div class="tracks">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Courses</h1>
                      <h3>Best collections of the technologies</h3>
                      <hr class="intro-divider">
                      <ul class="list-inline intro-social-buttons">
                          <li>
                              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Tracks</span></a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Courses</span></a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Login</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
      </div>
      <h4>Foundations</h4>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

      <div class="container">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">



      <div class="row">
        <div class="col-md-4"><div id="fundamentals" data-attr-id="1" data-attr-slug="fundamentals" data-attr-name="fundamentals" class="box-container option bridge">
        <div class="box">
        <h2>
        <a href="/fundamentals" title="Show full page">
        fundamentals
        </a>
        </h2>
        <h3>How the web works</h3>
        <p><a href="https://www.youtube.com/watch?v=7_LPdttKXPc" alt="How the Internet Works in 5 Minutes" target="_blank">How the Internet Works in 5 Minutes</a></p>
        <p><a href="http://www.20thingsilearned.com/en-US" alt="20 Things I Learned" target="_blank">20 Things I Learned</a></p>
        </div>
        </div>
      </div>
        <div class="col-md-4">  <div id="html" data-attr-id="2" data-attr-slug="html" data-attr-name="html" class="box-container option frontend">
          <div class="box">
          <h2>
          <a href="/html" title="Show full page">
          html
          </a>
          </h2>
          <h3>The very basics of putting something on a webpage</h3>
          <p><a href="http://dash.ga.co/?vip=bento" alt="Dash" target="_blank">Dash</a></p>
          <p><a href="http://www.codecademy.com/courses/web-beginner-en-HZA3b/0/1?curriculum_id=50579fb998b470000202dc8b" alt="Codecademy" target="_blank">Codecademy</a></p>
          </div>
          </div>
        </div>
        <div id="css" data-attr-id="3" data-attr-slug="css" data-attr-name="css" class="box-container option frontend">
  <div class="box">
  <h2>
  <a href="/css" title="Show full page">
  css
  </a>
  </h2>
  <h3>Styling your webpage</h3>
  <p><a href="http://www.codecademy.com/courses/web-beginner-en-TlhFi/0/1?curriculum_id=50579fb998b470000202dc8b" alt="Codecademy" target="_blank">Codecademy</a></p>
  <p><a href="http://dash.ga.co/?vip=bento" alt="Dash" target="_blank">Dash</a></p>
  </div>
  </div>
</div>

    <div class="row">
  <div class="col-md-4">
    <div id="shell" data-attr-id="4" data-attr-slug="shell" data-attr-name="shell" class="box-container option bridge">
  <div class="box">
  <h2>
  <a href="/shell" title="Show full page">
  shell
  </a>
  </h2>
  <h3>Use the command line</h3>
  <p><a href="http://linuxcommand.org/learning_the_shell.php" alt="Learning the Shell" target="_blank">Learning the Shell</a></p>
  <p><a href="http://learnshell.org" alt="Learn Shell" target="_blank">Learn Shell</a></p>
  </div>
  </div> </div>
  <div class="col-md-4"><div id="git" data-attr-id="5" data-attr-slug="git" data-attr-name="git" class="box-container option bridge">
<div class="box">
<h2>
<a href="/git" title="Show full page">
git
</a>
</h2>
<h3>Simple to use version control</h3>
<p><a href="http://try.github.io/levels/1/challenges/1" alt="Try Git" target="_blank">Try Git</a></p>
<p><a href="http://rogerdudler.github.io/git-guide/" alt="The simple guide" target="_blank">The simple guide</a></p>
</div>
</div></div>
           <div class="col-md-4"><div id="javascript" data-attr-id="6" data-attr-slug="javascript" data-attr-name="javascript" class="box-container option frontend">
<div class="box">
<h2>
<a href="/javascript" title="Show full page">
javascript
</a>
</h2>
<h3>Make your pages interactive</h3>
<p><a href="http://www.codecademy.com/courses/getting-started-v2/0/1?curriculum_id=506324b3a7dffd00020bf661" alt="Codecademy" target="_blank">Codecademy</a></p>
<p><a href="http://learnxinyminutes.com/docs/javascript/" alt="Learn X in Y Minutes" target="_blank">Learn X in Y Minutes</a></p>
</div>
</div></div>
           <div class="col-md-4"><div id="jquery" data-attr-id="13" data-attr-slug="jquery" data-attr-name="jquery" class="box-container option frontend">
<div class="box">
<h2>
<a href="/jquery" title="Show full page">
jquery
</a>
</h2>
<h3>Control webpage elements with javascript</h3>
<p><a href="http://try.jquery.com/" alt="Try jQuery" target="_blank">Try jQuery</a></p>
<p><a href="http://www.codecademy.com/courses/web-beginner-en-bay3D/0/1?curriculum_id=50a3fad8c7a770b5fd0007a1" alt="Codecademy" target="_blank">Codecademy</a></p>
</div>
</div></div>
           <div class="col-md-4"><div id="sublime-text" data-attr-id="7" data-attr-slug="sublime-text" data-attr-name="sublime text" class="box-container option ide">
<div class="box">
<h2>
<a href="/sublime-text" title="Show full page">
sublime text
</a>
</h2>
<h3>A popular text editor</h3>
<p><a href="https://scotch.io/bar-talk/the-complete-visual-guide-to-sublime-text-3-getting-started-and-keyboard-shortcuts" alt="The Complete Visual Guide to Sublime Text 3" target="_blank">The Complete Visual Guide to Sublime Text 3</a></p>
</div>
</div></div>
           <div class="col-md-4"><div id="python" data-attr-id="8" data-attr-slug="python" data-attr-name="python" class="box-container option backend">
<div class="box">
<h2>
<a href="/python" title="Show full page">
python
</a>
</h2>
<h3>A programming language to easily pick up</h3>
<p><a href="http://www.codecademy.com/tracks/python" alt="Codecademy" target="_blank">Codecademy</a></p>
<p><a href="https://www.udacity.com/course/cs101" alt="Intro to Computer Science" target="_blank">Intro to Computer Science</a></p>
</div>
</div>
</div>
           <div class="col-md-4"><div id="flask" data-attr-id="9" data-attr-slug="flask" data-attr-name="flask" class="box-container option backend">
<div class="box">
<h2>
<a href="/flask" title="Show full page">
flask
</a>
</h2>
<h3>A basic microframework for python on the web</h3>
<p><a href="http://flask.pocoo.org/docs/" alt="Documentation" target="_blank">Documentation</a></p>
<p><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" alt="Flask Mega Tutorial" target="_blank">Flask Mega Tutorial</a></p>
</div>
</div></div>
           <div class="col-md-4"><div id="sql" data-attr-id="10" data-attr-slug="sql" data-attr-name="sql" class="box-container option database">
<div class="box">
<h2>
<a href="/sql" title="Show full page">
sql
</a>
</h2>
<h3>A popular database language</h3>
<p><a href="http://sqlzoo.net/wiki/Main_Page" alt="SQLZoo" target="_blank">SQLZoo</a></p>
<p><a href="http://www.w3schools.com/sql/" alt="w3schools" target="_blank">w3schools</a></p>
</div>
</div>
</div>
           <div class="col-md-4"><div id="database-design" data-attr-id="103" data-attr-slug="database-design" data-attr-name="database design" class="box-container option database">
<div class="box">
<h2>
<a href="/database-design" title="Show full page">
database design
</a>
</h2>
<h3>How to organize your database</h3>
<p><a href="http://code.tutsplus.com/tutorials/relational-databases-for-dummies--net-30244" alt="tuts+" target="_blank">tuts+</a></p>
</div>
</div></div>
        </div>
        <div class="row">
        <div class="col-md-4"><div id="sqlalchemy" data-attr-id="101" data-attr-slug="sqlalchemy" data-attr-name="sqlalchemy" class="box-container option database">
<div class="box">
<h2>
<a href="/sqlalchemy" title="Show full page">
sqlalchemy
</a>
</h2>
<h3>Keep your python models and database objects in sync</h3>
<p><a href="http://docs.sqlalchemy.org/en/rel_0_9/orm/tutorial.html" alt="Object Relational Tutorial" target="_blank">Object Relational Tutorial</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="alembic" data-attr-id="102" data-attr-slug="alembic" data-attr-name="alembic" class="box-container option database">
<div class="box">
<h2>
<a href="/alembic" title="Show full page">
alembic
</a>
</h2>
<h3>Manage your database changes in python</h3>
<p><a href="http://www.chesnok.com/daily/2013/07/02/a-practical-guide-to-using-alembic/" alt="A Practical Guide to Using Alembic" target="_blank">A Practical Guide to Using Alembic</a></p>
<p><a href="http://alembic.readthedocs.org/en/latest/tutorial.html" alt="Tutorial" target="_blank">Tutorial</a></p>
</div>
</div>
</div>
        <div class="col-md-4"><div id="heroku" data-attr-id="11" data-attr-slug="heroku" data-attr-name="heroku" class="box-container option bridge">
<div class="box">
<h2>
<a href="/heroku" title="Show full page">
heroku
</a>
</h2>
<h3>Easily deploy your applications</h3>
<p><a href="https://devcenter.heroku.com/articles/quickstart" alt="Get Started" target="_blank">Get Started</a></p>
<p><a href="http://www.codeschool.com/code_tv/heroku" alt="Intro to Heroku Screencast" target="_blank">Intro to Heroku Screencast</a></p>
</div>
</div></div>


    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="cloudflare" data-attr-id="105" data-attr-slug="cloudflare" data-attr-name="cloudflare" class="box-container option bridge">
<div class="box">
<h2>
<a href="/cloudflare" title="Show full page">
cloudflare
</a>
</h2>
<h3>Protect your website</h3>
<p><a href="https://www.cloudflare.com/overview" alt="Overview" target="_blank">Overview</a></p>
</div>
</div>

      </div>

             <div class="col-md-4"><div id="json" data-attr-id="12" data-attr-slug="json" data-attr-name="json" class="box-container option database">
<div class="box">
<h2>
<a href="/json" title="Show full page">
json
</a>
</h2>
<h3>Represent your data in text</h3>
<p><a href="http://www.copterlabs.com/blog/json-what-it-is-how-it-works-how-to-use-it/" alt="What is JSON?" target="_blank">What is JSON?</a></p>
<p><a href="http://jsonlint.com" alt="JSON Validator" target="_blank">JSON Validator</a></p>
</div>
</div></div>
             <div class="col-md-4"><div id="data-science" data-attr-id="114" data-attr-slug="data-science" data-attr-name="data science" class="box-container option bridge">
<div class="box">
<h2>
<a href="/data-science" title="Show full page">
data science
</a>
</h2>
<h3>Get meaningful insights from your data</h3>
<p><a href="https://dataquest.io/" alt="DataQuest" target="_blank">DataQuest</a></p>
</div>
</div></div>


    </div>
    <div class="row">
      <div class="col-md-4"><div id="less" data-attr-id="14" data-attr-slug="less" data-attr-name="less" class="box-container option frontend">
<div class="box">
<h2>
<a href="/less" title="Show full page">
less
</a>
</h2>
<h3>A dynamic stylesheet language</h3>
<p><a href="http://lesscss.org/#synopsis" alt="Synopsis" target="_blank">Synopsis</a></p>
<p><a href="http://verekia.com/less-css/dont-read-less-css-tutorial-highly-addictive" alt="Verekia&#39;s Tutorial" target="_blank">Verekia&#39;s Tutorial</a></p>
</div>
</div></div>
      <div class="col-md-4"><div id="bootstrap" data-attr-id="15" data-attr-slug="bootstrap" data-attr-name="bootstrap" class="box-container option frontend">
<div class="box">
<h2>
<a href="/bootstrap" title="Show full page">
bootstrap
</a>
</h2>
<h3>A popular frontend framework</h3>
<p><a href="http://getbootstrap.com/getting-started/" alt="Get Started" target="_blank">Get Started</a></p>
<p><a href="http://www.realpython.com/blog/design/getting-started-with-bootstrap-3" alt="Getting Started with Bootstrap 3" target="_blank">Getting Started with Bootstrap 3</a></p>
</div>
</div></div>
      <div class="col-md-4"><div id="big-o" data-attr-id="16" data-attr-slug="big-o" data-attr-name="big-o" class="box-container option bridge">
<div class="box">
<h2>
<a href="/big-o" title="Show full page">
big-o
</a>
</h2>
<h3>How to measure your code&#39;s performance</h3>
<p><a href="http://interactivepython.org/runestone/static/pythonds/AlgorithmAnalysis/analysis.html" alt="Algorithm Analysis" target="_blank">Algorithm Analysis</a></p>
<p><a href="http://bigocheatsheet.com/" alt="Big-O Cheat Sheet" target="_blank">Big-O Cheat Sheet</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="algorithms" data-attr-id="107" data-attr-slug="algorithms" data-attr-name="algorithms" class="box-container option bridge">
<div class="box">
<h2>
<a href="/algorithms" title="Show full page">
algorithms
</a>
</h2>
<h3>Popular methods to manipulate data</h3>
<p><a href="http://interactivepython.org/runestone/static/pythonds/index.html#" alt="Problem Solving with Algorithms and Data Structures" target="_blank">Problem Solving with Algorithms and Data Structures</a></p>
<p><a href="https://www.khanacademy.org/computing/computer-science/algorithms" alt="Khan Academy" target="_blank">Khan Academy</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="data-structures" data-attr-id="17" data-attr-slug="data-structures" data-attr-name="data structures" class="box-container option bridge">
<div class="box">
<h2>
<a href="/data-structures" title="Show full page">
data structures
</a>
</h2>
<h3>Efficiently organize your data in code</h3>
<p><a href="http://interactivepython.org/runestone/static/pythonds/BasicDS/basic.html" alt="Basic Data Structures" target="_blank">Basic Data Structures</a></p>
<p><a href="http://www.cs.usfca.edu/~galles/visualization/Algorithms.html" alt="Data Structure Visualizations" target="_blank">Data Structure Visualizations</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="http" data-attr-id="18" data-attr-slug="http" data-attr-name="http" class="box-container option bridge">
<div class="box">
<h2>
<a href="/http" title="Show full page">
http
</a>
</h2>
<h3>The basics of making web requests</h3>
<p><a href="http://net.tutsplus.com/tutorials/other/a-beginners-introduction-to-http-and-rest/" alt="A Beginner&#39;s Guide" target="_blank">A Beginner&#39;s Guide</a></p>
</div>
</div></div>

    </div>
    <div class="row">
        <div class="col-md-4"><div id="security" data-attr-id="19" data-attr-slug="security" data-attr-name="security" class="box-container option bridge">
<div class="box">
<h2>
<a href="/security" title="Show full page">
security
</a>
</h2>
<h3>How to protect your website</h3>
<p><a href="http://www.wimp.com/howencryption/" alt="How Encryption Works" target="_blank">How Encryption Works</a></p>
<p><a href="http://math.scu.edu/~eschaefe/book.pdf" alt="An Introduction to Cryptography and Cryptanalysis" target="_blank">An Introduction to Cryptography and Cryptanalysis</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="https" data-attr-id="20" data-attr-slug="https" data-attr-name="https" class="box-container option bridge">
<div class="box">
<h2>
<a href="/https" title="Show full page">
https
</a>
</h2>
<h3>The basics of secure connections</h3>
<p><a href="http://www.moserware.com/2009/06/first-few-milliseconds-of-https.html" alt="First Milliseconds https" target="_blank">First Milliseconds https</a></p>
<p><a href="https://konklone.com/post/switch-to-https-now-for-free" alt="Switch your website to use https" target="_blank">Switch your website to use https</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="mongo" data-attr-id="21" data-attr-slug="mongo" data-attr-name="mongo" class="box-container option database">
<div class="box">
<h2>
<a href="/mongo" title="Show full page">
mongo
</a>
</h2>
<h3>A simple javascript based database</h3>
<p><a href="http://try.mongodb.org/" alt="Try Mongo" target="_blank">Try Mongo</a></p>
<p><a href="https://education.mongodb.com/" alt="MongoDB University" target="_blank">MongoDB University</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="couchdb" data-attr-id="22" data-attr-slug="couchdb" data-attr-name="couchdb" class="box-container option database">
<div class="box">
<h2>
<a href="/couchdb" title="Show full page">
couchdb
</a>
</h2>
<h3>A nosql database for the web</h3>
<p><a href="http://docs.couchdb.org/en/latest/intro/tour.html" alt="Getting Started" target="_blank">Getting Started</a></p>
<p><a href="http://code.tutsplus.com/articles/getting-started-with-couchdb--net-18801" alt="Learn CouchDB" target="_blank">Learn CouchDB</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="elasticsearch" data-attr-id="23" data-attr-slug="elasticsearch" data-attr-name="elasticsearch" class="box-container option database">
<div class="box">
<h2>
<a href="/elasticsearch" title="Show full page">
elasticsearch
</a>
</h2>
<h3>A popular search engine for your application</h3>
<p><a href="http://www.elasticsearch.org/webinars/getting-started-with-elasticsearch/" alt="Getting Started" target="_blank">Getting Started</a></p>
<p><a href="http://www.elasticsearch.org/videos/introducing-query-dsl/" alt="Introducing Query DSL" target="_blank">Introducing Query DSL</a></p>
</div>
</div></div>
        <div class="col-md-4"><div id="redis" data-attr-id="24" data-attr-slug="redis" data-attr-name="redis" class="box-container option database">
<div class="box">
<h2>
<a href="/redis" title="Show full page">
redis
</a>
</h2>
<h3>A basic key-value store for caching</h3>
<p><a href="http://openmymind.net/redis.pdf" alt="The Little Redis Book" target="_blank">The Little Redis Book</a></p>
<p><a href="http://try.redis.io/" alt="Try Redis" target="_blank">Try Redis</a></p>
</div>
</div></div>

    </div>
    <div class="row">
         <div class="col-md-4">
      <div id="memcached" data-attr-id="25" data-attr-slug="memcached" data-attr-name="memcached" class="box-container option database">
<div class="box">
<h2>
<a href="/memcached" title="Show full page">
memcached
</a>
</h2>
<h3>A way to cache your data in memory</h3>
<p><a href="https://code.google.com/p/memcached/wiki/TutorialCachingStory" alt="An Adventure in Learning Memcached" target="_blank">An Adventure in Learning Memcached</a></p>
<p><a href="http://www.linuxjournal.com/article/7451" alt="Distributed Caching with Memcached" target="_blank">Distributed Caching with Memcached</a></p>
</div>
</div>    </div>
   <div class="col-md-4">
<div id="uilang" data-attr-id="104" data-attr-slug="uilang" data-attr-name="uilang" class="box-container option frontend">
<div class="box">
<h2>
<a href="/uilang" title="Show full page">
uilang
</a>
</h2>
<h3>A minimal programming language for web designers</h3>
<p><a href="http://uilang.com/" alt="Home" target="_blank">Home</a></p>
</div>
</div>    </div>
   <div class="col-md-4">
<div id="angular" data-attr-id="26" data-attr-slug="angular" data-attr-name="angular" class="box-container option frontend">
<div class="box">
<h2>
<a href="/angular" title="Show full page">
angular
</a>
</h2>
<h3>A javascript framework for data-driven applications</h3>
<p><a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro" alt="Shaping up with Angular" target="_blank">Shaping up with Angular</a></p>
<p><a href="http://egghead.io/lessons" alt="egghead.io" target="_blank">egghead.io</a></p>
</div>
</div>    </div>
   <div class="col-md-4">
<div id="ractive" data-attr-id="113" data-attr-slug="ractive" data-attr-name="ractive" class="box-container option frontend">
<div class="box">
<h2>
<a href="/ractive" title="Show full page">
ractive
</a>
</h2>
<h3>Live, reactive templates in JavaScript</h3>
<p><a href="http://learn.ractivejs.org" alt="Learn Ractive.js" target="_blank">Learn Ractive.js</a></p>
</div>
</div>    </div>
   <div class="col-md-4">
<div id="sass" data-attr-id="27" data-attr-slug="sass" data-attr-name="sass" class="box-container option frontend">
<div class="box">
<h2>
<a href="/sass" title="Show full page">
sass
</a>
</h2>
<h3>An dynamic extension of css</h3>
<p><a href="http://sass-lang.com/tutorial.html" alt="Tutorial" target="_blank">Tutorial</a></p>
<p><a href="http://sassmeister.com" alt="SassMeister" target="_blank">SassMeister</a></p>
</div>
</div>    </div>
   <div class="col-md-4">
<div id="node" data-attr-id="28" data-attr-slug="node" data-attr-name="node" class="box-container option backend">
<div class="box">
<h2>
<a href="/node" title="Show full page">
node
</a>
</h2>
<h3>Create a backend with javascript</h3>
<p><a href="http://www.nodebeginner.org/" alt="Node Beginner" target="_blank">Node Beginner</a></p>
<p><a href="http://nodeschool.io/" alt="nodeschool.io" target="_blank">nodeschool.io</a></p>
</div>
</div>
    </div>
   <div class="col-md-4">
<div id="express" data-attr-id="29" data-attr-slug="express" data-attr-name="express" class="box-container option backend">
<div class="box">
<h2>
<a href="/express" title="Show full page">
express
</a>
</h2>
<h3>The most popular web framework for node</h3>
<p><a href="http://expressjs.com/guide.html" alt="Guide" target="_blank">Guide</a></p>
<p><a href="http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/" alt="Introduction to Express" target="_blank">Introduction to Express</a></p>
</div>
</div>
    </div>
    <div class="col-md-4">
    <div id="grunt" data-attr-id="30" data-attr-slug="grunt" data-attr-name="grunt" class="box-container option bridge">
<div class="box">
<h2>
<a href="/grunt" title="Show full page">
grunt
</a>
</h2>
<h3>A powerful javascript task runner</h3>
<p><a href="http://gruntjs.com/getting-started" alt="Getting Started" target="_blank">Getting Started</a></p>
<p><a href="http://24ways.org/2013/grunt-is-not-weird-and-hard/" alt="Tutorial" target="_blank">Tutorial</a></p>
</div>
</div> </div>  <div class="col-md-4">
<div id="jade" data-attr-id="31" data-attr-slug="jade" data-attr-name="jade" class="box-container option frontend">
<div class="box">
<h2>
<a href="/jade" title="Show full page">
jade
</a>
</h2>
<h3>A templating language forhtml</h3>
<p><a href="http://jade-lang.com/tutorial/" alt="Tutorial" target="_blank">Tutorial</a></p>
<p><a href="http://www.learnjade.com/" alt="Learn Jade" target="_blank">Learn Jade</a></p>
</div>
</div> </div>  </div>
<div class="row">

<div class="col-md-4">
<div id="regex" data-attr-id="32" data-attr-slug="regex" data-attr-name="regex" class="box-container option bridge">
<div class="box">
<h2>
<a href="/regex" title="Show full page">
regex
</a>
</h2>
<h3>A popular syntax for pattern matching</h3>
<p><a href="http://regexone.com/" alt="RegexOne" target="_blank">RegexOne</a></p>
<p><a href="http://regex.learncodethehardway.org/book/" alt="Learn Regex the Hard Way" target="_blank">Learn Regex the Hard Way</a></p>
</div>
</div> </div>   <div class="col-md-4">
<div id="vim" data-attr-id="33" data-attr-slug="vim" data-attr-name="vim" class="box-container option ide">
<div class="box">
<h2>
<a href="/vim" title="Show full page">
vim
</a>
</h2>
<h3>A text editor in your console</h3>
<p><a href="http://vim-adventures.com/" alt="Vim Adventures" target="_blank">Vim Adventures</a></p>
<p><a href="http://www.openvim.com/tutorial.html" alt="Interactive Vim Tutorial" target="_blank">Interactive Vim Tutorial</a></p>
</div>
</div> </div>   <div class="col-md-4">
<div id="mvc" data-attr-id="66" data-attr-slug="mvc" data-attr-name="mvc" class="box-container option bridge">
<div class="box">
<h2>
<a href="/mvc" title="Show full page">
mvc
</a>
</h2>
<h3>Popular software architecture pattern</h3>
<p><a href="https://en.wikibooks.org/wiki/Computer_Science_Design_Patterns/Model%E2%80%93view%E2%80%93controller" alt="The Model-View-Controller Pattern" target="_blank">The Model-View-Controller Pattern</a></p>
<p><a href="http://blog.iandavis.com/2008/12/09/what-are-the-benefits-of-mvc/" alt="What are the benefits of MVC?" target="_blank">What are the benefits of MVC?</a></p>
</div>
</div>  </div>  <div class="col-md-4">
<div id="rest" data-attr-id="34" data-attr-slug="rest" data-attr-name="rest" class="box-container option api">
<div class="box">
<h2>
<a href="/rest" title="Show full page">
rest
</a>
</h2>
<h3>A way to architecture your applications around verbs and resources</h3>
<p><a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api?hn" alt="Best Practices for Designing Pragmatic RESTful APIs" target="_blank">Best Practices for Designing Pragmatic RESTful APIs</a></p>
<p><a href="http://www.youtube.com/watch?v=zEyg0TnieLg" alt="Designing HTTP Interfaces and RESTful Web Services" target="_blank">Designing HTTP Interfaces and RESTful Web Services</a></p>
</div>
</div>  </div>  <div class="col-md-4">
<div id="bottle" data-attr-id="35" data-attr-slug="bottle" data-attr-name="bottle" class="box-container option backend">
<div class="box">
<h2>
<a href="/bottle" title="Show full page">
bottle
</a>
</h2>
<h3>A fast, simple and lightweight micro framework for python</h3>
<p><a href="http://www.realpython.com/blog/python/developing-with-bottle-part-1" alt="Developing with Bottle" target="_blank">Developing with Bottle</a></p>
<p><a href="http://www.realpython.com/blog/python/developing-with-bottle-part-2-plot-ly-api" alt="Developing with Bottle - part 2" target="_blank">Developing with Bottle - part 2</a></p>
</div>
</div>  </div> <div class="col-md-4">
<div id="django" data-attr-id="36" data-attr-slug="django" data-attr-name="django" class="box-container option backend">
<div class="box">
<h2>
<a href="/django" title="Show full page">
django
</a>
</h2>
<h3>A popular web framework for python</h3>
<p><a href="http://elweb.co/want-to-learn-django-start-here/" alt="Want to Learn Django?" target="_blank">Want to Learn Django?</a></p>
<p><a href="https://docs.djangoproject.com/en/1.5/" alt="Documentation" target="_blank">Documentation</a></p>
</div>
</div>   </div> </div>
<div class="row">


<div class="col-md-4">
<div id="tornado" data-attr-id="37" data-attr-slug="tornado" data-attr-name="tornado" class="box-container option backend">
<div class="box">
<h2>
<a href="/tornado" title="Show full page">
tornado
</a>
</h2>
<h3>An asynchronous microframework for python on the web</h3>
<p><a href="http://www.tornadoweb.org/en/stable/documentation.html" alt="Documentation" target="_blank">Documentation</a></p>
</div>
</div> </div>   <div class="col-md-4">
<div id="ruby" data-attr-id="38" data-attr-slug="ruby" data-attr-name="ruby" class="box-container option backend">
<div class="box">
<h2>
<a href="/ruby" title="Show full page">
ruby
</a>
</h2>
<h3>A simple scripting language</h3>
<p><a href="http://tryruby.org/levels/1/challenges/0" alt="Try Ruby" target="_blank">Try Ruby</a></p>
<p><a href="http://www.codecademy.com/tracks/ruby" alt="Codecademy" target="_blank">Codecademy</a></p>
</div>
</div>  </div> <div class="col-md-4">
<div id="rails" data-attr-id="39" data-attr-slug="rails" data-attr-name="rails" class="box-container option backend">
<div class="box">
<h2>
<a href="/rails" title="Show full page">
rails
</a>
</h2>
<h3>The most popular web framework for ruby</h3>
<p><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" alt="Michael Hartl&#39;s Tutorial" target="_blank">Michael Hartl&#39;s Tutorial</a></p>
<p><a href="http://net.tutsplus.com/tutorials/ruby/the-best-way-to-learn-ruby-on-rails/" alt="The Best Way to Learn Rails" target="_blank">The Best Way to Learn Rails</a></p>
</div>
</div>  </div>  <div class="col-md-4">
<div id="jekyll" data-attr-id="115" data-attr-slug="jekyll" data-attr-name="jekyll" class="box-container option backend">
<div class="box">
<h2>
<a href="/jekyll" title="Show full page">
jekyll
</a>
</h2>
<h3>Simple blogging</h3>
<p><a href="http://jekyllrb.com/docs/home/" alt="Documentation" target="_blank">Documentation</a></p>
</div>
</div> </div>   <div class="col-md-4">
<div id="go" data-attr-id="40" data-attr-slug="go" data-attr-name="go" class="box-container option backend">
<div class="box">
<h2>
<a href="/go" title="Show full page">
go
</a>
</h2>
<h3>A new language for the web</h3>
<p><a href="http://tour.golang.org/#1" alt="Tour" target="_blank">Tour</a></p>
<p><a href="https://gobyexample.com/" alt="Go by Example" target="_blank">Go by Example</a></p>
</div>
</div></div> <div class="col-md-4">
<div id="java" data-attr-id="41" data-attr-slug="java" data-attr-name="java" class="box-container option backend">
<div class="box">
<h2>
<a href="/java" title="Show full page">
java
</a>
</h2>
<h3>A popular programming language</h3>
<p><a href="https://www.udacity.com/course/cs046" alt="Intro to Programming in Java" target="_blank">Intro to Programming in Java</a></p>
<p><a href="http://see.stanford.edu/see/courseinfo.aspx?coll=824a47e1-135f-4508-a5aa-866adcae1111" alt="Programming Methodology" target="_blank">Programming Methodology</a></p>
</div>
</div>
</div> </div>
<div class="row">

<div class="col-md-4">
<div id="scala" data-attr-id="42" data-attr-slug="scala" data-attr-name="scala" class="box-container option backend">
<div class="box">
<h2>
<a href="/scala" title="Show full page">
scala
</a>
</h2>
<h3>A highly performant language that works with java</h3>
<p><a href="http://scalatutorials.com/tour/" alt="Scala Tutorials" target="_blank">Scala Tutorials</a></p>
<p><a href="http://stackoverflow.com/a/1380699" alt="Learning Scala" target="_blank">Learning Scala</a></p>
</div></div> </div><div class="col-md-4">
<div id="play" data-attr-id="43" data-attr-slug="play" data-attr-name="play" class="box-container option backend">
<div class="box">
<h2>
<a href="/play" title="Show full page">
play
</a>
</h2>
<h3>A popular web framework for scala</h3>
<p><a href="http://www.playframework.com/documentation/2.2.x/ScalaTodoList" alt="Your first Play application" target="_blank">Your first Play application</a></p>
</div></div> </div> <div class="col-md-4">
<div id="elixir" data-attr-id="44" data-attr-slug="elixir" data-attr-name="elixir" class="box-container option backend">
<div class="box">
<h2>
<a href="/elixir" title="Show full page">
elixir
</a>
</h2>
<h3>A language built on top of the Erlang VM</h3>
<p><a href="http://tryelixir.org/" alt="Try Elixir" target="_blank">Try Elixir</a></p>
<p><a href="http://elixir-lang.org/getting_started/1.html" alt="Getting Started" target="_blank">Getting Started</a></p>
</div></div> </div> <div class="col-md-4">
<div id="terraform" data-attr-id="45" data-attr-slug="terraform" data-attr-name="terraform" class="box-container option bridge">
<div class="box">
<h2>
<a href="/terraform" title="Show full page">
terraform
</a>
</h2>
<h3>A common configuration to launch infrastructure</h3>
<p><a href="http://www.terraform.io/intro/index.html" alt="Introduction to Terraform" target="_blank">Introduction to Terraform</a></p>
</div></div> </div> <div class="col-md-4">
<div id="swift" data-attr-id="46" data-attr-slug="swift" data-attr-name="swift" class="box-container option mobile">
<div class="box">
<h2>
<a href="/swift" title="Show full page">
swift
</a>
</h2>
<h3>The primary language for iOS</h3>
<p><a href="https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/GuidedTour.html#//apple_ref/doc/uid/TP40014097-CH2" alt="A swift tour" target="_blank">A swift tour</a></p>
<p><a href="http://www.runswiftlang.com/learn#1" alt="RunSwift" target="_blank">RunSwift</a></p>
</div></div> </div> <div class="col-md-4">
<div id="objective-c" data-attr-id="47" data-attr-slug="objective-c" data-attr-name="objective-c" class="box-container option mobile">
<div class="box">
<h2>
<a href="/objective-c" title="Show full page">
objective-c
</a>
</h2>
<h3>The previous language for iOS</h3>
<p><a href="http://courseware.codeschool.com/try_ios/objective_c_primer.pdf" alt="A primer in Objective-C" target="_blank">A primer in Objective-C</a></p>
<p><a href="https://www.codeschool.com/courses/try-objective-c" alt="Try Objective-C" target="_blank">Try Objective-C</a></p>
</div></div> </div> <div class="col-md-4">
<div id="android" data-attr-id="48" data-attr-slug="android" data-attr-name="android" class="box-container option mobile">
<div class="box">
<h2>
<a href="/android" title="Show full page">
android
</a>
</h2>
<h3>Build apps for Android devices</h3>
<p><a href="http://developer.android.com/training/basics/firstapp/creating-project.html" alt="Building your first app" target="_blank">Building your first app</a></p>
<p><a href="http://www.vogella.com/tutorials/Android/article.html" alt="Android Development" target="_blank">Android Development</a></p>
</div></div> </div> <div class="col-md-4">
<div id="windows-phone" data-attr-id="49" data-attr-slug="windows-phone" data-attr-name="windows phone" class="box-container option mobile">
<div class="box">
<h2>
<a href="/windows-phone" title="Show full page">
windows phone
</a>
</h2>
<h3>Build apps for windows phones</h3>
<p><a href="https://build.windowsstore.com/#fbid=9lOGdzuGAkZ" alt="Windows App Builder" target="_blank">Windows App Builder</a></p>
</div></div> </div> <div class="col-md-4">
<div id="parse" data-attr-id="98" data-attr-slug="parse" data-attr-name="parse" class="box-container option backend">
<div class="box">
<h2>
<a href="/parse" title="Show full page">
parse
</a>
</h2>
<h3>A backend for mobile apps</h3>
<p><a href="https://parse.com/tutorials" alt="Tutorials" target="_blank">Tutorials</a></p>
</div></div> </div>
</div>
<div class="row" >
 <div class="col-md-4">
<div id="leaflet" data-attr-id="51" data-attr-slug="leaflet" data-attr-name="leaflet" class="box-container option frontend">
<div class="box">
<h2>
<a href="/leaflet" title="Show full page">
leaflet
</a>
</h2>
<h3>A JavaScript library for maps</h3>
<p><a href="http://leafletjs.com/examples.html" alt="Leaflet Tutorials" target="_blank">Leaflet Tutorials</a></p>
<p><a href="http://leafletjs.com/reference.html" alt="API Reference" target="_blank">API Reference</a></p>
</div></div> </div> <div class="col-md-4">
<div id="velocity" data-attr-id="52" data-attr-slug="velocity" data-attr-name="velocity" class="box-container option frontend">
<div class="box">
<h2>
<a href="/velocity" title="Show full page">
velocity
</a>
</h2>
<h3>Smooth JavaScript animation</h3>
<p><a href="http://velocityjs.org" alt="Documentation" target="_blank">Documentation</a></p>
<p><a href="http://css-tricks.com/improving-ui-animation-workflow-velocity-js/" alt="Improving UI Animation Workflow" target="_blank">Improving UI Animation Workflow</a></p>
</div></div> </div> <div class="col-md-4">
<div id="three.js" data-attr-id="53" data-attr-slug="three.js" data-attr-name="three.js" class="box-container option frontend">
<div class="box">
<h2>
<a href="/three.js" title="Show full page">
three.js
</a>
</h2>
<h3>A JavaScript 3D library</h3>
<p><a href="http://threejs.org/docs/" alt="Documentation" target="_blank">Documentation</a></p>
<p><a href="http://aerotwist.com/tutorials/getting-started-with-three-js/" alt="Getting Started With three.js" target="_blank">Getting Started With three.js</a></p>
</div></div> </div> <div class="col-md-4">
<div id="neo4j" data-attr-id="54" data-attr-slug="neo4j" data-attr-name="neo4j" class="box-container option database">
<div class="box">
<h2>
<a href="/neo4j" title="Show full page">
neo4j
</a>
</h2>
<h3>A graph database</h3>
<p><a href="http://www.neo4j.org/learn/cypher" alt="Learn Cypher" target="_blank">Learn Cypher</a></p>
</div></div> </div> <div class="col-md-4">
<div id="rethinkdb" data-attr-id="55" data-attr-slug="rethinkdb" data-attr-name="rethinkdb" class="box-container option database">
<div class="box">
<h2>
<a href="/rethinkdb" title="Show full page">
rethinkdb
</a>
</h2>
<h3>An database to store JSON</h3>
<p><a href="http://www.rethinkdb.com/docs/quickstart/" alt="RethinkDB Quickstart" target="_blank">RethinkDB Quickstart</a></p>
<p><a href="http://www.realpython.com/blog/python/rethink-flask-a-simple-todo-list-powered-by-flask-and-rethinkdb/" alt="RethinkDB and Flask" target="_blank">RethinkDB and Flask</a></p>
</div></div> </div> <div class="col-md-4">
<div id="flight" data-attr-id="56" data-attr-slug="flight" data-attr-name="flight" class="box-container option frontend">
<div class="box">
<h2>
<a href="/flight" title="Show full page">
flight
</a>
</h2>
<h3>An event-driven web framework for JavaScript</h3>
<p><a href="http://learnflight.io" alt="Learn Flight" target="_blank">Learn Flight</a></p>
</div></div> </div> </div>
<div class="row">

 <div class="col-md-4">
<div id="meteor" data-attr-id="57" data-attr-slug="meteor" data-attr-name="meteor" class="box-container option backend">
<div class="box">
<h2>
<a href="/meteor" title="Show full page">
meteor
</a>
</h2>
<h3>A framework to build realtime web applications in JavaScript</h3>
<p><a href="http://andrewscala.com/meteor/" alt="Friendly walkthrough" target="_blank">Friendly walkthrough</a></p>
<p><a href="https://www.eventedmind.com/" alt="EventedMind advanced screencasts" target="_blank">EventedMind advanced screencasts</a></p>
</div></div> </div> <div class="col-md-4">
<div id="ember" data-attr-id="58" data-attr-slug="ember" data-attr-name="ember" class="box-container option frontend">
<div class="box">
<h2>
<a href="/ember" title="Show full page">
ember
</a>
</h2>
<h3>Build robust single-page apps with JavaScript</h3>
<p><a href="http://emberjs.com/guides/getting-started/" alt="Getting Started TodoMVC Guide" target="_blank">Getting Started TodoMVC Guide</a></p>
<p><a href="http://ember101.com/" alt="Ember 101" target="_blank">Ember 101</a></p>
</div></div> </div> <div class="col-md-4">
<div id="backbone" data-attr-id="59" data-attr-slug="backbone" data-attr-name="backbone" class="box-container option frontend">
<div class="box">
<h2>
<a href="/backbone" title="Show full page">
backbone
</a>
</h2>
<h3>A framework that makes handling data easier in JavaScript</h3>
<p><a href="http://addyosmani.github.io/backbone-fundamentals/" alt="Developing Backbone.js Applications" target="_blank">Developing Backbone.js Applications</a></p>
<p><a href="http://adrianmejia.com/blog/2012/09/11/backbone-dot-js-for-absolute-beginners-getting-started/" alt="Backbone.js for Absolute Beginners" target="_blank">Backbone.js for Absolute Beginners</a></p>
</div></div> </div> <div class="col-md-4">
<div id="underscore" data-attr-id="60" data-attr-slug="underscore" data-attr-name="underscore" class="box-container option backend">
<div class="box">
<h2>
<a href="/underscore" title="Show full page">
underscore
</a>
</h2>
<h3>A utility belt for JavaScript</h3>
<p><a href="http://net.tutsplus.com/tutorials/javascript-ajax/getting-cozy-with-underscore-js/" alt="Getting Cozy with Underscore" target="_blank">Getting Cozy with Underscore</a></p>
</div></div> </div> <div class="col-md-4">
<div id="lodash" data-attr-id="61" data-attr-slug="lodash" data-attr-name="lodash" class="box-container option backend">
<div class="box">
<h2>
<a href="/lodash" title="Show full page">
lodash
</a>
</h2>
<h3>A utility library delivering performance</h3>
<p><a href="http://lodash.com/docs" alt="Documentation" target="_blank">Documentation</a></p>
</div></div> </div> <div class="col-md-4">
<div id="sugar" data-attr-id="62" data-attr-slug="sugar" data-attr-name="sugar" class="box-container option backend">
<div class="box">
<h2>
<a href="/sugar" title="Show full page">
sugar
</a>
</h2>
<h3>Extend the functionality of JavaScript</h3>
<p><a href="http://sugarjs.com/features" alt="Features" target="_blank">Features</a></p>
</div></div> </div></div>
<div class="row">


 <div class="col-md-4">
<div id="coffeescript" data-attr-id="63" data-attr-slug="coffeescript" data-attr-name="coffeescript" class="box-container option frontend">
<div class="box">
<h2>
<a href="/coffeescript" title="Show full page">
coffeescript
</a>
</h2>
<h3>A language that compiles to JavaScript</h3>
<p><a href="http://learnxinyminutes.com/docs/coffeescript/" alt="Learn X in Y Minutes" target="_blank">Learn X in Y Minutes</a></p>
</div></div> </div> <div class="col-md-4">
<div id="dart" data-attr-id="64" data-attr-slug="dart" data-attr-name="dart" class="box-container option backend">
<div class="box">
<h2>
<a href="/dart" title="Show full page">
dart
</a>
</h2>
<h3>An alternative to JavaScript</h3>
<p><a href="https://www.dartlang.org/docs/" alt="Programmer’s Guide" target="_blank">Programmer’s Guide</a></p>
<p><a href="http://learnxinyminutes.com/docs/dart/" alt="Learn X in Y Minutes" target="_blank">Learn X in Y Minutes</a></p>
</div></div> </div> <div class="col-md-4">
<div id="php" data-attr-id="65" data-attr-slug="php" data-attr-name="php" class="box-container option backend">
<div class="box">
<h2>
<a href="/php" title="Show full page">
php
</a>
</h2>
<h3>A server-side language for the web</h3>
<p><a href="http://learnxinyminutes.com/docs/php/" alt="Learn X in Y Minutes" target="_blank">Learn X in Y Minutes</a></p>
<p><a href="http://www.phptherightway.com" alt="PHP The Right Way" target="_blank">PHP The Right Way</a></p>
</div></div> </div> <div class="col-md-4">
<div id="laravel" data-attr-id="72" data-attr-slug="laravel" data-attr-name="laravel" class="box-container option backend">
<div class="box">
<h2>
<a href="/laravel" title="Show full page">
laravel
</a>
</h2>
<h3>The most popular php web framework</h3>
<p><a href="http://laravel.com/docs" alt="Laravel Docs" target="_blank">Laravel Docs</a></p>
<p><a href="http://laravel.io" alt="Laravel Ins and Outs" target="_blank">Laravel Ins and Outs</a></p>
</div></div> </div> <div class="col-md-4">
<div id="phalcon" data-attr-id="108" data-attr-slug="phalcon" data-attr-name="phalcon" class="box-container option backend">
<div class="box">
<h2>
<a href="/phalcon" title="Show full page">
phalcon
</a>
</h2>
<h3>A popular high-performance php framework</h3>
<p><a href="http://docs.phalconphp.com/en/latest/reference/tutorial.html" alt="Let&#39;s Learn By Example" target="_blank">Let&#39;s Learn By Example</a></p>
</div></div> </div> <div class="col-md-4">
<div id="symfony" data-attr-id="69" data-attr-slug="symfony" data-attr-name="symfony" class="box-container option backend">
<div class="box">
<h2>
<a href="/symfony" title="Show full page">
symfony
</a>
</h2>
<h3>A high performance php framework</h3>
<p><a href="http://symfony.com/in-five-minutes" alt="Symfony in 5 minutes" target="_blank">Symfony in 5 minutes</a></p>
<p><a href="http://symfony.com/get-started" alt="Get started" target="_blank">Get started</a></p>
</div></div> </div></div>
<div class="row">

 <div class="col-md-4">
<div id="codeigniter" data-attr-id="68" data-attr-slug="codeigniter" data-attr-name="codeigniter" class="box-container option backend">
<div class="box">
<h2>
<a href="/codeigniter" title="Show full page">
codeigniter
</a>
</h2>
<h3>A php web framework</h3>
<p><a href="http://ellislab.com/codeigniter/user-guide/" alt="CodeIgniter user manual" target="_blank">CodeIgniter user manual</a></p>
</div></div> </div> <div class="col-md-4">
<div id="cakephp" data-attr-id="67" data-attr-slug="cakephp" data-attr-name="cakephp" class="box-container option backend">
<div class="box">
<h2>
<a href="/cakephp" title="Show full page">
cakephp
</a>
</h2>
<h3>A framework for php applications</h3>
<p><a href="http://book.cakephp.org/2.0/en/" alt="CakePHP Cookbook (Docs)" target="_blank">CakePHP Cookbook (Docs)</a></p>
<p><a href="http://book.cakephp.org/2.0/en/tutorials-and-examples/blog/blog.html" alt="Blog Tutorial" target="_blank">Blog Tutorial</a></p>
</div></div> </div> <div class="col-md-4">
<div id="yii" data-attr-id="70" data-attr-slug="yii" data-attr-name="yii" class="box-container option backend">
<div class="box">
<h2>
<a href="/yii" title="Show full page">
yii
</a>
</h2>
<h3>A php framework built for ajax</h3>
<p><a href="http://www.yiiframework.com/doc/guide/1.1/en/quickstart.what-is-yii" alt="The Definitive Guide to Yii" target="_blank">The Definitive Guide to Yii</a></p>
<p><a href="http://www.larryullman.com/series/learning-the-yii-framework/" alt="Larry Ullman&#39;s Learning Yii Series" target="_blank">Larry Ullman&#39;s Learning Yii Series</a></p>
</div></div> </div> <div class="col-md-4">
<div id="twig" data-attr-id="71" data-attr-slug="twig" data-attr-name="twig" class="box-container option backend">
<div class="box">
<h2>
<a href="/twig" title="Show full page">
twig
</a>
</h2>
<h3>A template engine for php</h3>
<p><a href="http://twig.sensiolabs.org/documentation" alt="Documentation" target="_blank">Documentation</a></p>
</div></div> </div> <div class="col-md-4">
<div id="phpixie" data-attr-id="73" data-attr-slug="phpixie" data-attr-name="phpixie" class="box-container option backend">
<div class="box">
<h2>
<a href="/phpixie" title="Show full page">
phpixie
</a>
</h2>
<h3>An easy-to-learn php framework</h3>
<p><a href="http://phpixie.com/tutorials/learn-phpixie-in-30-minutes/" alt="30 Minute Tutorial" target="_blank">30 Minute Tutorial</a></p>
<p><a href="http://phpixie.com/blog/" alt="Developer Blog" target="_blank">Developer Blog</a></p>
</div></div> </div> <div class="col-md-4">
<div id="groovy" data-attr-id="74" data-attr-slug="groovy" data-attr-name="groovy" class="box-container option backend">
<div class="box">
<h2>
<a href="/groovy" title="Show full page">
groovy
</a>
</h2>
<h3>A dynamic language that works with Java</h3>
<p><a href="http://groovy.codehaus.org/Beginners+Tutorial" alt="Beginner&#39;s Tutorial" target="_blank">Beginner&#39;s Tutorial</a></p>
<p><a href="http://mrhaki.blogspot.com/search/label/Groovy%3AGoodness" alt="The Groovy Goodness Blog" target="_blank">The Groovy Goodness Blog</a></p>
</div></div> </div> <div class="col-md-4">
<div id="clojure" data-attr-id="75" data-attr-slug="clojure" data-attr-name="clojure" class="box-container option backend">
<div class="box">
<h2>
<a href="/clojure" title="Show full page">
clojure
</a>
</h2>
<h3>A lisp dialect which runs on the JVM</h3>
<p><a href="http://www.braveclojure.com/" alt="Clojure for the Brave and True" target="_blank">Clojure for the Brave and True</a></p>
<p><a href="http://blackstag.com/blog.posting?id=5" alt="Clojure for Beginners" target="_blank">Clojure for Beginners</a></p>
</div></div> </div> <div class="col-md-4">
<div id="xml" data-attr-id="76" data-attr-slug="xml" data-attr-name="xml" class="box-container option database">
<div class="box">
<h2>
<a href="/xml" title="Show full page">
xml
</a>
</h2>
<h3>An alternative to json</h3>
<p><a href="http://www.quackit.com/xml/tutorial/" alt="XML Tutorial" target="_blank">XML Tutorial</a></p>
</div></div> </div> <div class="col-md-4">
<div id="firebase" data-attr-id="77" data-attr-slug="firebase" data-attr-name="firebase" class="box-container option backend">
<div class="box">
<h2>
<a href="/firebase" title="Show full page">
firebase
</a>
</h2>
<h3>A realtime backend for your web or mobile app</h3>
<p><a href="https://www.firebase.com/tutorial/#gettingstarted" alt="5 Minute Chat Tutorial" target="_blank">5 Minute Chat Tutorial</a></p>
<p><a href="http://www.codecademy.com/tracks/firebase" alt="Codecademy" target="_blank">Codecademy</a></p>
</div></div></div>
    </div>
    <div class="row">
 <div class="col-md-4">
      <div id="apache" data-attr-id="78" data-attr-slug="apache" data-attr-name="apache" class="box-container option bridge">
<div class="box">
<h2>
<a href="/apache" title="Show full page">
 apache
</a>
</h2>
<h3> A very popular http web server</h3>
<p><a href="https://httpd.apache.org/docs/2.4/" alt="Apache Documentation" target="_blank">Apache Documentation</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="nginx" data-attr-id="79" data-attr-slug="nginx" data-attr-name="nginx" class="box-container option bridge">
<div class="box">
<h2>
<a href="/nginx" title="Show full page">
nginx
</a>
</h2>
<h3>A popular http web server, load balancer, and http cache</h3>
<p><a href="http://nginx.org/en/docs/beginners_guide.html" alt="Beginner&#39;s Guide" target="_blank">Beginner&#39;s Guide</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="perl" data-attr-id="80" data-attr-slug="perl" data-attr-name="perl" class="box-container option backend">
<div class="box">
<h2>
<a href="/perl" title="Show full page">
perl
</a>
</h2>
<h3>A popular programming language</h3>
<p><a href="http://www.perl.org/learn.html" alt="Learn Perl" target="_blank">Learn Perl</a></p>
<p><a href="http://www.cpan.org/" alt="CPAN" target="_blank">CPAN</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="vagrant" data-attr-id="81" data-attr-slug="vagrant" data-attr-name="vagrant" class="box-container option bridge">
<div class="box">
<h2>
<a href="/vagrant" title="Show full page">
vagrant
</a>
</h2>
<h3>A tool for building and managing virtual environments</h3>
<p><a href="http://docs-v1.vagrantup.com/v1/docs/getting-started/why.html" alt="Why Vagrant?" target="_blank">Why Vagrant?</a></p>
<p><a href="http://docs.vagrantup.com/v2/getting-started/index.html" alt="Getting Started" target="_blank">Getting Started</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="docker" data-attr-id="82" data-attr-slug="docker" data-attr-name="docker" class="box-container option bridge">
<div class="box">
<h2>
<a href="/docker" title="Show full page">
docker
</a>
</h2>
<h3>Create lightweight, portable, self-sufficient containers</h3>
<p><a href="http://www.docker.io/gettingstarted/#h_tutorial" alt="Docker Interactive Tutorial" target="_blank">Docker Interactive Tutorial</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="c#" data-attr-id="109" data-attr-slug="c#" data-attr-name="c#" class="box-container option backend">
<div class="box">
<h2>
<a href="/c-sharp" title="Show full page">
c#
</a>
</h2>
<h3>A popular web programming language</h3>
<p><a href="http://learnxinyminutes.com/docs/csharp/" alt="Learn X in Y Minutes" target="_blank">Learn X in Y Minutes</a></p>
</div>
</div></div> </div>
<div class="row">


  <div class="col-md-4">
<div id=".net" data-attr-id="83" data-attr-slug=".net" data-attr-name=".net" class="box-container option backend">
<div class="box">
<h2>
<a href="/.net" title="Show full page">
.net
</a>
</h2>
<h3>A web framework for c#</h3>
<p><a href="http://www.asp.net/mvc/tutorials/mvc-5/introduction/getting-started" alt="Intro to ASP.NET MVC 5" target="_blank">Intro to ASP.NET MVC 5</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="lightswitch" data-attr-id="84" data-attr-slug="lightswitch" data-attr-name="lightswitch" class="box-container option backend">
<div class="box">
<h2>
<a href="/lightswitch" title="Show full page">
lightswitch
</a>
</h2>
<h3>A development framework for the web and mobile</h3>
<p><a href="http://blogs.msdn.com/b/bethmassi/archive/2011/12/01/beginning-lightswitch-getting-started.aspx" alt="Intro to Lightswitch" target="_blank">Intro to Lightswitch</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="coldfusion" data-attr-id="85" data-attr-slug="coldfusion" data-attr-name="coldfusion" class="box-container option backend">
<div class="box">
<h2>
<a href="/coldfusion" title="Show full page">
coldfusion
</a>
</h2>
<h3>A server application for Java</h3>
<p><a href="http://www.quackit.com/coldfusion/tutorial/" alt="Coldfusion Tutorials" target="_blank">Coldfusion Tutorials</a></p>
<p><a href="http://www.raymondcamden.com/index.cfm/ColdFusion" alt="Raymond Camden&#39;s CF Blog" target="_blank">Raymond Camden&#39;s CF Blog</a></p>
</div>
</div></div> </div>
<div class="row">
  <div class="col-md-4">
<div id="seo" data-attr-id="86" data-attr-slug="seo" data-attr-name="seo" class="box-container option bridge">
<div class="box">
<h2>
<a href="/seo" title="Show full page">
seo
</a>
</h2>
<h3>Ranking well in search engines</h3>
<p><a href="https://static.googleusercontent.com/external_content/untrusted_dlcp/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf" alt="Google&#39;s Starter Guide" target="_blank">Google&#39;s Starter Guide</a></p>
<p><a href="http://www.quicksprout.com/the-advanced-guide-to-seo/" alt="The Advanced Guide to SEO" target="_blank">The Advanced Guide to SEO</a></p>
</div>
</div></div>

  <div class="col-md-4">
<div id="api" data-attr-id="87" data-attr-slug="api" data-attr-name="api" class="box-container option api">
<div class="box">
<h2>
<a href="/api" title="Show full page">
api
</a>
</h2>
<h3>How to expose and access data from different services</h3>
<p><a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api?hn" alt="Best Practices for Designing Pragmatic RESTful APIs" target="_blank">Best Practices for Designing Pragmatic RESTful APIs</a></p>
<p><a href="http://blog.mashape.com/post/60820526317/list-of-40-tutorials-on-how-to-create-an-api" alt="A list of 40+ tutorials on how to make an api" target="_blank">A list of 40+ tutorials on how to make an api</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="webhooks" data-attr-id="88" data-attr-slug="webhooks" data-attr-name="webhooks" class="box-container option api">
<div class="box">
<h2>
<a href="/webhooks" title="Show full page">
webhooks
</a>
</h2>
<h3>HTTP based integrations</h3>
<p><a href="http://requestb.in" alt="RequestBin - Inspect HTTP Requests" target="_blank">RequestBin - Inspect HTTP Requests</a></p>
<p><a href="http://blog.iron.io/2013/09/7-reasons-webhooks-are-magic.html" alt="7 Reasons Webhooks are Magic" target="_blank">7 Reasons Webhooks are Magic</a></p>
</div>
</div></div> </div>
<div class="row">
  <div class="col-md-4">
<div id="stack-exchange" data-attr-id="106" data-attr-slug="stack-exchange" data-attr-name="stack exchange" class="box-container option api">
<div class="box">
<h2>
<a href="/stack-exchange" title="Show full page">
stack exchange
</a>
</h2>
<h3>Access all of Stack Exchange and Stack Overflow</h3>
<p><a href="https://api.stackexchange.com/docs" alt="Docs" target="_blank">Docs</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="google" data-attr-id="89" data-attr-slug="google" data-attr-name="google" class="box-container option api">
<div class="box">
<h2>
<a href="/google" title="Show full page">
google
</a>
</h2>
<h3>An enormous collection of APIs from Google</h3>
<p><a href="https://developers.google.com/apis-explorer/#p/" alt="Google API Explorer" target="_blank">Google API Explorer</a></p>
</div></div>
</div>
  <div class="col-md-4">
<div id="mashape" data-attr-id="90" data-attr-slug="mashape" data-attr-name="mashape" class="box-container option api">
<div class="box">
<h2>
<a href="/mashape" title="Show full page">
mashape
</a>
</h2>
<h3>Distribute, monetize, and consume multiple APIs</h3>
<p><a href="http://www.codecademy.com/tracks/mashape" alt="Codecademy" target="_blank">Codecademy</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="facebook" data-attr-id="91" data-attr-slug="facebook" data-attr-name="facebook" class="box-container option api">
<div class="box">
<h2>
<a href="/facebook" title="Show full page">
facebook
</a>
</h2>
<h3>Get data about people and their networks</h3>
<p><a href="https://developers.facebook.com/tools/explorer" alt="Explore" target="_blank">Explore</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="foursquare" data-attr-id="92" data-attr-slug="foursquare" data-attr-name="foursquare" class="box-container option api">
<div class="box">
<h2>
<a href="/foursquare" title="Show full page">
foursquare
</a>
</h2>
<h3>Get data about places</h3>
<p><a href="https://developer.foursquare.com/overview/tutorial" alt="Tutorial" target="_blank">Tutorial</a></p>
<p><a href="https://developer.foursquare.com/docs/explore" alt="Explore" target="_blank">Explore</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="sendgrid" data-attr-id="93" data-attr-slug="sendgrid" data-attr-name="sendgrid" class="box-container option api">
<div class="box">
<h2>
<a href="/sendgrid" title="Show full page">
sendgrid
</a>
</h2>
<h3>An email API</h3>
<p><a href="http://sendgrid.com/docs/" alt="Docs" target="_blank">Docs</a></p>
<p><a href="http://www.codecademy.com/tracks/sendgrid" alt="Codecademy" target="_blank">Codecademy</a></p>
</div></div>
</div>
  <div class="col-md-4">
<div id="mandrill" data-attr-id="94" data-attr-slug="mandrill" data-attr-name="mandrill" class="box-container option api">
<div class="box">
<h2>
<a href="/mandrill" title="Show full page">
mandrill
</a>
</h2>
<h3>An email API by Mailchimp</h3>
<p><a href="http://help.mandrill.com/entries/21650603-How-do-I-get-started-with-Mandrill-" alt="Getting Started with Mandrill" target="_blank">Getting Started with Mandrill</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="semantria" data-attr-id="95" data-attr-slug="semantria" data-attr-name="semantria" class="box-container option api">
<div class="box">
<h2>
<a href="/semantria" title="Show full page">
semantria
</a>
</h2>
<h3>A text and sentiment analysis API</h3>
<p><a href="https://semantria.com/developer" alt="Developer Portal" target="_blank">Developer Portal</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="twilio" data-attr-id="96" data-attr-slug="twilio" data-attr-name="twilio" class="box-container option api">
<div class="box">
<h2>
<a href="/twilio" title="Show full page">
twilio
</a>
</h2>
<h3>Send and receive texts and calls</h3>
<p><a href="http://www.twilio.com/docs/quickstart" alt="Quickstart" target="_blank">Quickstart</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="stripe" data-attr-id="110" data-attr-slug="stripe" data-attr-name="stripe" class="box-container option api">
<div class="box">
<h2>
<a href="/stripe" title="Show full page">
stripe
</a>
</h2>
<h3>Accept payments on your site</h3>
<p><a href="https://stripe.com/docs" alt="Get Started" target="_blank">Get Started</a></p>
<p><a href="https://stripe.com/docs/tutorials/charges" alt="Making Your First Charge" target="_blank">Making Your First Charge</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="alchemy" data-attr-id="111" data-attr-slug="alchemy" data-attr-name="alchemy" class="box-container option api">
<div class="box">
<h2>
<a href="/alchemy" title="Show full page">
alchemy
</a>
</h2>
<h3>A text analysis API</h3>
<p><a href="http://www.alchemyapi.com/developers/getting-started-guide/" alt="Getting started guide" target="_blank">Getting started guide</a></p>
<p><a href="http://www.alchemyapi.com/products/demo/" alt="Interactive web demo" target="_blank">Interactive web demo</a></p>
</div>
</div></div>
  <div class="col-md-4">
<div id="lob" data-attr-id="100" data-attr-slug="lob" data-attr-name="lob" class="box-container option api">
<div class="box">
<h2>
<a href="/lob" title="Show full page">
lob
</a>
</h2>
<h3>An API that lets you print and mail documents</h3>
<p><a href="https://www.lob.com/docs" alt="docs" target="_blank">docs</a></p>
</div>
</div></div> </div>
<div class="row">
  <div class="col-md-4">

<div id="shirts.io" data-attr-id="112" data-attr-slug="shirts.io" data-attr-name="shirts.io" class="box-container option api">
<div class="box">
<h2>
<a href="/shirts.io" title="Show full page">
shirts.io
</a>
</h2>
<h3>An API to send custom shirts</h3>
<p><a href="https://www.shirts.io/docs/products_reference/" alt="Products API" target="_blank">Products API</a></p>
</div>
</div>
      </div>
    </div>
  </div>
</template>
