<template name = "css">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h4>Learning Resources</h4>
          <p><a href="http://www.codecademy.com/courses/web-beginner-en-TlhFi/0/1?curriculum_id=50579fb998b470000202dc8b" target="_blank" alt="Codecademy">Codecademy</a></p>
          <p><a href="http://dash.ga.co/?vip=bento" target="_blank" alt="Dash">Dash</a></p>
          <p><a href="http://htmldog.com/guides/css/beginner/" target="_blank" alt="HTML Dog">HTML Dog</a></p>
          <p><a href="http://teamtreehouse.com/library/css-foundations" target="_blank" alt="Treehouse - CSS Foundations">Treehouse - CSS Foundations</a></p>
          <p><a href="http://learn.shayhowe.com/html-css/" target="_blank" alt="A Beginner&#39;s Guide to HTML &amp; CSS">A Beginner&#39;s Guide to HTML &amp; CSS</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
      <h4>What you should learn next</h4>
        <p><a href="/javascript">javascript</a></p>
        <p><a href="/less">less</a></p>
          <p><a href="/sass">sass</a></p>
          <p><a href="/bootstrap">bootstrap</a></p>
          <p><a href="/sublime text">sublime text</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/40763?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/40762?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
