<template name = "d3">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">

          <h3>Easy</h3>
          <p><a href="http://alignedleft.com/tutorials/d3/" target="_blank" alt="D3 Tutorials">D3 Tutorials</a></p>
          <p><a href="http://www.codecademy.com/courses/web-beginner-en-kcP9b/0/1" target="_blank" alt="Codecademy">Codecademy</a></p>
          <h3>Medium</h3>
<p><a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html" target="_blank" alt="Interactive Data Visualization for the Web">Interactive Data Visualization for the Web</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/leaflet">leaflet</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
