<template name = "dart">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://www.dartlang.org/docs/" target="_blank" alt="Programmer’s Guide">Programmer’s Guide</a></p>
          <p><a href="http://learnxinyminutes.com/docs/dart/" target="_blank" alt="Learn X in Y Minutes">Learn X in Y Minutes</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/node">node</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
