<template name = "django">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://elweb.co/want-to-learn-django-start-here/" target="_blank" alt="Want to Learn Django?">Want to Learn Django?</a></p>
          <p><a href="https://docs.djangoproject.com/en/1.5/" target="_blank" alt="Documentation">Documentation</a></p>
          <p><a href="http://realdjango.com/" target="_blank" alt="Setting up a Django Project from Scratch">Setting up a Django Project from Scratch</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/tornado">tornado</a></p>
        <p><a href="/flask">flask</a></p>
          <p><a href="/heroku">heroku</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
