<template name = "elasticsearch">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.elasticsearch.org/webinars/getting-started-with-elasticsearch/" target="_blank" alt="Getting Started">Getting Started</a></p>
          <p><a href="http://www.elasticsearch.org/videos/introducing-query-dsl/" target="_blank" alt="Introducing Query DSL">Introducing Query DSL</a></p>
          <p><a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/setup.html" target="_blank" alt="Reference">Reference</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/mongo">mongo</a></p>
<p><a href="/couchdb">couchdb</a></p>
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
