<template name = "elixir">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://elixir-lang.org/getting_started/1.html" target="_blank" alt="Getting Started">Getting Started</a></p>
          <p><a href="http://learnxinyminutes.com/docs/elixir/" target="_blank" alt="Learn X in Y minutes">Learn X in Y minutes</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
