<template name = "express">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://expressjs.com/guide.html" target="_blank" alt="Guide">Guide</a></p>
          <p><a href="http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/" target="_blank" alt="Introduction to Express">Introduction to Express</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/heroku">heroku</a></p>
        <p><a href="/angular">angular</a></p>
        <p><a href="/ember">ember</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
