<template name = "fundamental">
{{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
    <h4>Leaning Resources</h4>
    <p><a href="https://www.youtube.com/watch?v=7_LPdttKXPc" target="_blank" alt="How the Internet Works in 5 Minutes">How the Internet Works in 5 Minutes</a></p>
<p><a href="http://www.20thingsilearned.com/en-US" target="_blank" alt="20 Things I Learned">20 Things I Learned</a></p>
<p><a href="https://www.youtube.com/watch?v=72snZctFFtA" target="_blank" alt="DNS Explained">DNS Explained</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/html">html</a></p>
<p><a href="/css">css</a></p>
<p><a href="/javascript">javascript</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
<!-- ZEEF widget start --><iframe src="//zeef.io/block/56846?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
      <div class="col-md-3">
        <div>
<!-- ZEEF widget start --><iframe src="//zeef.io/block/58239?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
