<template name = "git">
{{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Learning Resources</h3>
          <p><a href="http://try.github.io/levels/1/challenges/1" target="_blank" alt="Try Git">Try Git</a></p>
          <p><a href="http://rogerdudler.github.io/git-guide/" target="_blank" alt="The Simple Guide">The Simple Guide</a></p>
          <p><a href="http://gitimmersion.com/" target="_blank" alt="Git Immersion">Git Immersion</a></p>
          <p><a href="https://www.atlassian.com/git/tutorials/setting-up-a-repository/" target="_blank" alt="Git Basics">Git Basics</a></p>
          <p><a href="http://git-scm.com/book/en/Getting-Started" target="_blank" alt="Getting Started">Getting Started</a></p>
          <p><a href="https://www.atlassian.com/git/tutorials/syncing/" target="_blank" alt="Collaborating">Collaborating</a></p>
        <p><a href="https://www.atlassian.com/git/tutorials/migrating-overview/" target="_blank" alt="Migrating to Git">Migrating to Git</a></p>
        <p><a href="http://sethrobertson.github.io/GitBestPractices/" target="_blank" alt="Git Best Practices">Git Best Practices</a></p>
        <p><a href="http://pcottle.github.io/learnGitBranching/" target="_blank" alt="Learn Git Branching">Learn Git Branching</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/http">http</a> </p>
  <p><a href="/javascript">javascript</a></p>
  <p><a href="/heroku">heroku</a></p></div>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/2571?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/2565?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
<!--/row-->
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/2590?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/16063?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/16103?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/16062?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->


</template>
