<template name = "go">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
<p><a href="http://tour.golang.org/#1" target="_blank" alt="Tour">Tour</a></p>
<p><a href="https://gobyexample.com/" target="_blank" alt="Go by Example">Go by Example</a></p>
<p><a href="https://www.youtube.com/watch?v=XCsL89YtqCs" target="_blank" alt="Writing, building, installing, and testing Go code">Writing, building, installing, and testing Go code</a></p>
<h3>Medium</h3>
<p><a href="http://golang.org/doc/effective_go.html" target="_blank" alt="Effective Go">Effective Go</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/python">python</a></p>
          <p><a href="/ruby">ruby</a></p>
          <p><a href="/node">node</a></p>

        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/38267?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/38268?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
