<template name = "groovy">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
<p><a href="http://groovy.codehaus.org/Beginners+Tutorial" target="_blank" alt="Beginner&#39;s Tutorial">Beginner&#39;s Tutorial</a></p>
<p><a href="http://mrhaki.blogspot.com/search/label/Groovy%3AGoodness" target="_blank" alt="The Groovy Goodness Blog">The Groovy Goodness Blog</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/scala">scala</a></p>

        </div>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
