<template name = "grunt">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://gruntjs.com/getting-started" target="_blank" alt="Getting Started">Getting Started</a></p>
          <p><a href="http://24ways.org/2013/grunt-is-not-weird-and-hard/" target="_blank" alt="Tutorial">Tutorial</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/jade">jade</a></p>
          <p><a href="/coffeescript">coffeescript</a></p>
          <p><a href="/less">less</a></p>
          <p><a href="/sass">sass</a></p>
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
