<template name = "heroku">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">

          <h3>Easy</h3>
<p><a href="https://devcenter.heroku.com/articles/quickstart" target="_blank" alt="Get Started">Get Started</a></p>
<p><a href="http://www.codeschool.com/code_tv/heroku" target="_blank" alt="Intro to Heroku Screencast">Intro to Heroku Screencast</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/git">git</a></p>
          <p><a href="/postgresql">postgresql</a></p>
          <p><a href="/javascript">javascript</a></p>
          <p><a href="/ruby">ruby</a></p>
          <p><a href="/python">python</a></p>
          <p><a href="/php">php</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
