<template name = "html" >
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h4>HTML</h4><p><img data-defer-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSSeAho0ud8KNcGSdtqCTls0M3Bos51Y1zwq0sVoEYJG7XbFyR3" alt="html5"></p><p>If you&rsquo;re interested in learning HTML yourself, you can start with the basic online tutorials. They&rsquo;re free and the tools you&rsquo;ll need to write HTML are free too.</p><p>Have fun with HTML :)</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h4>Learning Resourses </h4>
          <p><a href="http://www.codecademy.com/courses/web-beginner-en-HZA3b/0/1?curriculum_id=50579fb998b470000202dc8b" target="_blank" alt="Codecademy">Codecademy</a></p>
<p><a href="http://dash.ga.co/?vip=bento" target="_blank" alt="Dash">Dash</a></p>
<p><a href="http://htmldog.com/guides/html/beginner/" target="_blank" alt="HTML Dog">HTML Dog</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h4> What next </h4>
        <p><a href="/css">css</a></p>
<p>
  <a href="/javascript">javascript</a></p>
<p><a href="/sublime text">sublime text</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div>

        <!-- ZEEF widget start --><iframe src="//zeef.io/block/2905?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div>
         <!-- ZEEF widget start --><iframe src="//zeef.io/block/3211?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
      <div class="col-md-3">
        <div>
         <!-- ZEEF widget start --><iframe src="//zeef.io/block/2904?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
      <div class="col-md-3">
        <div >
         <!-- ZEEF widget start --><iframe src="//zeef.io/block/2902?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
      <div class="col-md-3">
        <div>
         <!-- ZEEF widget start --><iframe src="//zeef.io/block/2903?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

<p>

</p>
</template>
