<template name = "https">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.moserware.com/2009/06/first-few-milliseconds-of-https.html" target="_blank" alt="First Milliseconds https">First Milliseconds https</a></p>
          <p><a href="https://konklone.com/post/switch-to-https-now-for-free" target="_blank" alt="Switch Your Website To Use https">Switch Your Website To Use https</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/python">python</a></p>
          <p><a href="/javascript">javascript</a></p>
          <p><a href="/ruby">ruby</a></p>
          <p><a href="/heroku">heroku</a></p>
          <p><a href="/json">json</a></p>
          <p><a href="/rest">rest</a></p>
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
