<template name = "http">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://net.tutsplus.com/tutorials/other/a-beginners-introduction-to-http-and-rest/" target="_blank" alt="A Beginner&#39;s Guide">A Beginner&#39;s Guide</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

<h3>What you should learn next</h3>
          <p><a href="/python">python</a></p>
          <p><a href="/javascript">javascript</a></p>
          <p><a href="/ruby">ruby</a></p>
          <p><a href="/heroku">heroku</a></p>
          <p><a href="/json">json</a></p>
          <p><a href="/rest">rest</a></p>
          <p><a href="/https">https</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
