<template name = "jade">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://jade-lang.com/tutorial/" target="_blank" alt="Tutorial">Tutorial</a></p>
          <p><a href="http://www.learnjade.com/" target="_blank" alt="Learn Jade">Learn Jade</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/less">less</a></p>
<p><a href="/bootstrap">bootstrap</a></p>
<p><a href="/angular">angular</a></p>
<p><a href="/grunt">grunt</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
