<template name = "javascript">
{{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.codecademy.com/courses/getting-started-v2/0/1?curriculum_id=506324b3a7dffd00020bf661" target="_blank" alt="Codecademy">Codecademy</a></p>
          <p><a href="http://learnxinyminutes.com/docs/javascript/" target="_blank" alt="Learn X in Y Minutes">Learn X in Y Minutes</a></p>
          <p><a href="http://www.learn-js.org/" target="_blank" alt="Learn JS">Learn JS</a></p>
          <p><a href="http://teamtreehouse.com/library/websites/javascript-foundations" target="_blank" alt="Treehouse - JavaScript Foundations">Treehouse - JavaScript Foundations</a></p>
          <p><a href="http://www.codermania.com/javascript/lesson/1a/hello-world" target="_blank" alt="CoderMania">CoderMania</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>Medium</h3>
          <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript" target="_blank" alt="A Re-introduction to JavaScript">A Re-introduction to JavaScript</a></p>
          <p><a href="http://blog.adtile.me/2014/01/16/a-dive-into-plain-javascript/" target="_blank" alt="A Dive Into Plain Javascript">A Dive Into Plain Javascript</a></p>
          <p><a href="http://superherojs.com/" target="_blank" alt="Superhero.js">Superhero.js</a></p>
          <p><a href="http://jstherightway.org/" target="_blank" alt="JS: The Right Way">JS: The Right Way</a></p>
          <p><a href="http://fightcodegame.com/" target="_blank" alt="Fight Code Game">Fight Code Game</a></p>
          <p><a href="http://www.codewars.com/" target="_blank" alt="Code Wars">Code Wars</a></p>
          <p><a href="http://read.humanjavascript.com/" target="_blank" alt="Human Javascript">Human Javascript</a></p>
          <p><a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html#show-last-Point" target="_blank" alt="Modular JavaScript">Modular JavaScript</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>Hard</h3>
          <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript" target="_blank" alt="Introduction to Object-Oriented JavaScript">Introduction to Object-Oriented JavaScript</a></p>
          <p><a href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/" target="_blank" alt="Learning Javascript Design Patterns">Learning Javascript Design Patterns</a></p>
          <p><a href="http://ejohn.org/apps/learn/" target="_blank" alt="Learning Advanced JavaScript">Learning Advanced JavaScript</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/python">python</a></p>
          <p><a href="/jquery">jquery</a></p>
          <p><a href="/json">json</a></p>
          <p><a href="/node">node</a></p>
          <p><a href="/underscore">underscore</a></p>
          <p><a href="/sugar">sugar</a></p>
          <p><a href="/coffeescript">coffeescript</a></p>
          <p><a href="/regex">regex</a></p>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/1003?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
    <!-- ZEEF widget start --><iframe src="//zeef.io/block/1010?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
<!-- ZEEF widget start --><iframe src="//zeef.io/block/1674?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
    <!-- ZEEF widget start --><iframe src="//zeef.io/block/3517?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->


</template>
