<template name = "java">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://www.udacity.com/course/cs046" target="_blank" alt="Intro to Programming in Java">Intro to Programming in Java</a></p>
          <p><a href="http://see.stanford.edu/see/courseinfo.aspx?coll=824a47e1-135f-4508-a5aa-866adcae1111" target="_blank" alt="Programming Methodology">Programming Methodology</a></p>
          <p><a href="https://buckysroom.org/videos.php?cat=31" target="_blank" alt="BuckysRoom: Java">BuckysRoom: Java</a></p>
          <p><a href="http://eclipsetutorial.sourceforge.net/totalbeginner.html" target="_blank" alt="Eclipse and Java">Eclipse and Java</a></p>
          <p><a href="http://www.javavideotutes.com/lessons" target="_blank" alt="Java Video Tutes">Java Video Tutes</a></p>
          <p><a href="http://www.heatonresearch.com/articles/series/15" target="_blank" alt="Java for the Beginning Programmer">Java for the Beginning Programmer</a></p>
          <p><a href="http://chimera.labs.oreilly.com/books/1234000001805/index.html" target="_blank" alt="Learning Java">Learning Java</a></p>
          <h3>Medium</h3>
          <p><a href="https://buckysroom.org/videos.php?cat=25" target="_blank" alt="BuckysRoom: Intermediate Java">BuckysRoom: Intermediate Java</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
                    <p><a href="/python">python</a></p>
                    <p><a href="/javascript">javascript</a></p>
                    <p><a href="/ruby">ruby</a></p>
                    <p><a href="/heroku">heroku</a></p>
                    <p><a href="/json">json</a></p>
                    <p><a href="/rest">rest</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/57?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/55?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
