<template name = "json">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.copterlabs.com/blog/json-what-it-is-how-it-works-how-to-use-it/" target="_blank" alt="What is JSON?">What is JSON?</a></p>
          <p><a href="http://jsonlint.com" target="_blank" alt="JSON Validator">JSON Validator</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/mongo">mongo</a></p>
          <p><a href="/couchdb">couchdb</a></p>
          <p><a href="/http">http</a></p>
          <p><a href="/rest">rest</a></p>
          <p><a href="/xml">xml</a></p>
          <p><a href="/redis">redis</a></p>
          <p><a href="/memcached">memcached</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
