<template name = "laravel">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
<p><a href="http://laravel.com/docs" target="_blank" alt="Laravel Docs">Laravel Docs</a></p>
<p><a href="http://laravel.io" target="_blank" alt="Laravel Ins and Outs">Laravel Ins and Outs</a></p>
<p><a href="http://cheats.jesse-obrien.ca/" target="_blank" alt="Laravel Cheatsheet">Laravel Cheatsheet</a></p>
<p><a href="http://net.tutsplus.com/tutorials/php/laravel-4-mastery/" target="_blank" alt="Laravel 4 Mastery">Laravel 4 Mastery</a></p>
<p><a href="http://jasonlewis.me/laravel-tutorials" target="_blank" alt="Laravel Tutorials via Jason Lewis">Laravel Tutorials via Jason Lewis</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
