<template name = "leaflet">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://leafletjs.com/examples.html" target="_blank" alt="Leaflet Tutorials">Leaflet Tutorials</a></p>
          <p><a href="http://leafletjs.com/reference.html" target="_blank" alt="API Reference">API Reference</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/d3">d3</a></p>
<p><a href="/api">api</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
