<template name = "less">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://lesscss.org/#synopsis" target="_blank" alt="Synopsis">Synopsis</a></p>
          <p><a href="http://verekia.com/less-css/dont-read-less-css-tutorial-highly-addictive" target="_blank" alt="Verekia&#39;s Tutorial">Verekia&#39;s Tutorial</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/sass">sass</a></p>
<p><a href="/bootstrap">bootstrap</a></p>

        </div>
      </div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
