<template name = "memcached">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://code.google.com/p/memcached/wiki/TutorialCachingStory" target="_blank" alt="An Adventure in Learning Memcached">An Adventure in Learning Memcached</a></p>
          <p><a href="http://www.linuxjournal.com/article/7451" target="_blank" alt="Distributed Caching with Memcached">Distributed Caching with Memcached</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/mongo">mongo</a></p>
          <p><a href="/couchdb">couchdb</a></p>
          <p><a href="/redis">redis</a></p>
          <p><a href="/heroku">heroku</a></p>
          <p><a href="/neo4j">neo4j</a></p>
          <p><a href="/sql">sql</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
