<template name = "meteor">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://andrewscala.com/meteor/" target="_blank" alt="Friendly Walkthrough">Friendly Walkthrough</a></p>
          <p><a href="https://www.eventedmind.com/" target="_blank" alt="EventedMind Advanced Screencasts">EventedMind Advanced Screencasts</a></p>
          <p><a href="http://manual.meteor.com/" target="_blank" alt="Meteor Manual">Meteor Manual</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
<p><a href="/angular">angular</a></p>
<p><a href="/ember">ember</a></p>
<p><a href="/backbone">backbone</a></p>
<p><a href="/flight">flight</a></p>

        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/20913?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/20921?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
