<template name = "mongo">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://try.mongodb.org/" target="_blank" alt="Try Mongo">Try Mongo</a></p>
          <p><a href="https://education.mongodb.com/" target="_blank" alt="MongoDB University">MongoDB University</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/elasticsearch">elasticsearch</a></p>
          <p><a href="/couchdb">couchdb</a></p>
          <p><a href="/neo4j">neo4j</a></p>
          <p><a href="/redis">redis</a></p>
          <p><a href="/memcached">memcached</a></p>
          <p><a href="/sql">sql</a></p>
          <p><a href="/rethinkdb">rethinkdb</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/12097?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/12153?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
