<template name = "mvc">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://en.wikibooks.org/wiki/Computer_Science_Design_Patterns/Model%E2%80%93view%E2%80%93controller" target="_blank" alt="The Model-View-Controller Pattern">The Model-View-Controller Pattern</a></p>
          <p><a href="http://blog.iandavis.com/2008/12/09/what-are-the-benefits-of-mvc/" target="_blank" alt="What are the benefits of MVC?">What are the benefits of MVC?</a></p>
          <p><a href="https://realpython.com/blog/python/the-model-view-controller-mvc-paradigm-summarized-with-legos/" target="_blank" alt="Model-View-Controller (MVC) Explained">Model-View-Controller (MVC) Explained</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/codeigniter">codeigniter</a></p>
          <p><a href="/laravel">laravel</a></p>
          <p><a href="/symfony">symfony</a></p>
          <p><a href="/yii">yii</a></p>
          <p><a href="/cakephp">cakephp</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
