<template name = "nginx">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://nginx.org/en/docs/beginners_guide.html" target="_blank" alt="Beginner&#39;s Guide">Beginner&#39;s Guide</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/http">http</a></p>
          <p><a href="/rest">rest</a></p>
          <p><a href="/apache">apache</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
