<template name = "node">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.nodebeginner.org/" target="_blank" alt="Node Beginner">Node Beginner</a></p>
          <p><a href="http://nodeschool.io/" target="_blank" alt="nodeschool.io">nodeschool.io</a></p>
          <p><a href="http://stackoverflow.com/a/5511507/1043674" target="_blank" alt="How Do I Get Started?">How Do I Get Started?</a></p>
          <p><a href="http://code.tutsplus.com/tutorials/nodejs-for-beginners--net-26314" target="_blank" alt="Node.js for Beginners">Node.js for Beginners</a></p>
          <h3>Medium</h3>
          <p><a href="http://nodeguide.com/style.html" target="_blank" alt="Style Guide">Style Guide</a></p>
          <p><a href="http://mherman.org/blog/2014/12/31/node-and-mongoose-a-primer" target="_blank" alt="Node, Express, and MongoDB - a Primer">Node, Express, and MongoDB - a Primer</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/express">express</a></p>
          <p><a href="/heroku">heroku</a></p>
          <p><a href="/mongo">mongo</a></p>
          <p><a href="/ember">ember</a></p>
          <p><a href="/angular">angular</a></p>
          <p><a href="/grunt">grunt</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/4639?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/71316?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
