<template name = "objectiveC">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://www.thenewboston.com/videos.php?cat=33" target="_blank" alt="C# Beginner">BuckysRoom C#</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
  <h3>What you should learn next</h3>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
