<template name = "php">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://learnxinyminutes.com/docs/php/" target="_blank" alt="Learn X in Y Minutes">Learn X in Y Minutes</a></p>
          <p><a href="http://www.phptherightway.com" target="_blank" alt="PHP The Right Way">PHP The Right Way</a></p>
          <p><a href="http://learn-php.org" target="_blank" alt="Learn PHP">Learn PHP</a></p>
          <p><a href="http://ilovephp.jondh.me.uk/" target="_blank" alt="I ♥ PHP">I ♥ PHP</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/python">python</a></p>
          <p><a href="/node">node</a></p>
          <p><a href="/sql">sql</a></p>
          <p><a href="/laravel">laravel</a></p>
          <p><a href="/symfony">symfony</a></p>
          <p><a href="/yii">yii</a></p>
          <p><a href="/phpixie">phpixie</a></p>
          <p><a href="/cakephp">cakephp</a></p>
        </div>
      </div>
      <div class="col-md-3">

<!-- ZEEF widget start --><iframe src="//zeef.io/block/1038?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        
      </div>
      <div class="col-md-3">
    <!-- ZEEF widget start --><iframe src="//zeef.io/block/4874?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
