<template name = "phpixie">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://phpixie.com/tutorials/learn-phpixie-in-30-minutes/" target="_blank" alt="30 Minute Tutorial">30 Minute Tutorial</a></p>
          <p><a href="http://phpixie.com/blog/" target="_blank" alt="Developer Blog">Developer Blog</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
