<template name = "python">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.codecademy.com/tracks/python" target="_blank" alt="Codecademy">Codecademy</a></p>
          <p><a href="https://www.udacity.com/course/cs101" target="_blank" alt="Intro to Computer Science">Intro to Computer Science</a></p>
          <p><a href="http://www.learnpython.org/" target="_blank" alt="Learn Python">Learn Python</a></p>
          <p><a href="http://learnxinyminutes.com/docs/python/" target="_blank" alt="Learn X in Y Minutes">Learn X in Y Minutes</a></p>
          <p><a href="http://learnpythonthehardway.org/book/" target="_blank" alt="Learn Python the Hard Way">Learn Python the Hard Way</a></p>
          <h3>Medium</h3>
<p><a href="http://www.fullstackpython.com/" target="_blank" alt="Full Stack Python">Full Stack Python</a></p>
<p><a href="http://www.greenteapress.com/thinkpython/html/thinkpython002.html" target="_blank" alt="Think Python: How to Think Like a Computer Scientist">Think Python: How to Think Like a Computer Scientist</a></p>
<p><a href="http://pymotw.com/2/" target="_blank" alt="Python Module of the Week">Python Module of the Week</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/big-o">big-o</a></p>
          <p><a href="/flask">flask</a></p>
          <p><a href="/django">django</a></p>
          <p><a href="/tornado">tornado</a></p>
          <p><a href="/heroku">heroku</a></p>
          <p><a href="/ruby">ruby</a></p>
          <p><a href="/node">node</a></p>
          <p><a href="/go">go</a></p>
        </div>
      </div>
        <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/57916?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/57901?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
