<template name = "rails">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
        
          <h3>Easy</h3>
          <p><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank" alt="Michael Hartl&#39;s Tutorial">Michael Hartl&#39;s Tutorial</a></p>
          <p><a href="http://www.thinkful.com/learn/ruby-on-rails-tutorial/" target="_blank" alt="Learn Ruby on Rails as You Modify a Craigslist Clone">Learn Ruby on Rails as You Modify a Craigslist Clone</a></p>
          <p><a href="http://net.tutsplus.com/tutorials/ruby/the-best-way-to-learn-ruby-on-rails/" target="_blank" alt="The Best Way to Learn Rails">The Best Way to Learn Rails</a></p>
          <p><a href="http://railsforzombies.org/" target="_blank" alt="Rails for Zombies">Rails for Zombies</a></p>
          <p><a href="http://installrails.com/" target="_blank" alt="Install Rails">Install Rails</a></p>
          <p><a href="https://www.codeschool.com/code_tv/rails-anatomy" target="_blank" alt="Rails Anatomy">Rails Anatomy</a></p>
          <p><a href="http://net.tutsplus.com/tutorials/ruby/the-intro-to-rails-screencast-i-wish-i-had/" target="_blank" alt="Introduction to Rails">Introduction to Rails</a></p>
          <p><a href="http://railsapps.github.io/what-is-ruby-rails.html" target="_blank" alt="What is Ruby on Rails?">What is Ruby on Rails?</a></p>
          <p><a href="https://tutorials.railsapps.org/rails-tutorial" target="_blank" alt="Recommendations for a Rails Tutorial">Recommendations for a Rails Tutorial</a></p>
          <p><a href="http://railscasts.com/" target="_blank" alt="RailsCasts">RailsCasts</a></p>
          <p><a href="http://teamtreehouse.com/library/programming/build-a-simple-ruby-on-rails-application" target="_blank" alt="Treehouse - Build a Simple Ruby on Rails Application">Treehouse - Build a Simple Ruby on Rails Application</a></p>
          <p><a href="http://gun.io/blog/using-scaffolding/" target="_blank" alt="When Should You Use Scaffolding?">When Should You Use Scaffolding?</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/heroku">heroku</a></p>
<p><a href="/coffeescript">coffeescript</a></p>
<p><a href="/less">less</a></p>
<p><a href="/sass">sass</a></p>
<p><a href="/sql">sql</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/3601?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/11349?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
