<template name = "redis">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <p><a href="http://openmymind.net/redis.pdf" target="_blank" alt="The Little Redis Book">The Little Redis Book</a></p>
          <p><a href="http://try.redis.io/" target="_blank" alt="Try Redis">Try Redis</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/mongo">mongo</a></p>
          <p><a href="/couchdb">couchdb</a></p>
          <p><a href="/memcached">memcached</a></p>
          <p><a href="/neo4j">neo4j</a></p>
          <p><a href="/sql">sql</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
