<template name = "rest">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api?hn" target="_blank" alt="Best Practices for Designing Pragmatic RESTful APIs">Best Practices for Designing Pragmatic RESTful APIs</a></p>
          <p><a href="https://github.com/WhiteHouse/api-standards" target="_blank" alt="White House Web API Standards">White House Web API Standards</a></p>
          <p><a href="http://www.ics.uci.edu/~fielding/pubs/dissertation/top.htm" target="_blank" alt="Architectural Styles and the Design of Network-based Software Architectures">Architectural Styles and the Design of Network-based Software Architectures</a></p>
          <p><a href="http://www.realpython.com/blog/python/create-a-super-basic-rest-api-with-django-tastypie" target="_blank" alt="Create a Super Basic REST API with django-tastypie">Create a Super Basic REST API with django-tastypie</a></p>
          <h3>Medium</h3>
<p><a href="http://www.youtube.com/watch?v=zEyg0TnieLg" target="_blank" alt="Designing HTTP Interfaces and RESTful Web Services">Designing HTTP Interfaces and RESTful Web Services</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/json">json</a></p>
<p><a href="/xml">xml</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
