<template name = "rethinkdb">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
        
          <h3>Easy</h3>
          <p><a href="http://www.rethinkdb.com/docs/quickstart/" target="_blank" alt="RethinkDB Quickstart">RethinkDB Quickstart</a></p>
          <h3>Medium</h3>
<p><a href="http://www.realpython.com/blog/python/rethink-flask-a-simple-todo-list-powered-by-flask-and-rethinkdb/" target="_blank" alt="RethinkDB and Flask">RethinkDB and Flask</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <p><a href="/heroku">heroku</a></p>
          <p><a href="/json">json</a></p>
          <p><a href="/couchdb">couchdb</a></p>
          <p><a href="/http">http</a></p>
          <p><a href="/neo4j">neo4j</a></p>
          <p><a href="/redis">redis</a></p>
          <p><a href="/memcached">memcached</a></p>
          <p><a href="/sql">sql</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
