<template name = "ruby">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://tryruby.org/levels/1/challenges/0" target="_blank" alt="Try Ruby">Try Ruby</a></p>
          <p><a href="http://www.codecademy.com/tracks/ruby" target="_blank" alt="Codecademy">Codecademy</a></p>
          <p><a href="http://rubymonk.com/" target="_blank" alt="RubyMonk">RubyMonk</a></p>
          <p><a href="https://www.bloc.io/ruby-warrior/#/" target="_blank" alt="Ruby Warrior">Ruby Warrior</a></p>
          <p><a href="http://rubykoans.com/" target="_blank" alt="Ruby Koans">Ruby Koans</a></p>
          <p><a href="http://learnxinyminutes.com/docs/ruby/" target="_blank" alt="Learn X in Y Minutes">Learn X in Y Minutes</a></p>
          <p><a href="http://ruby.learncodethehardway.org/book/" target="_blank" alt="Learn Ruby the Hard Way">Learn Ruby the Hard Way</a></p>
          <p><a href="http://teamtreehouse.com/library/programming/ruby-foundations" target="_blank" alt="Treehouse - Ruby Foundations">Treehouse - Ruby Foundations</a></p>
          <p><a href="http://www.codewars.com/" target="_blank" alt="Code Wars">Code Wars</a></p>
          <p><a href="http://mislav.uniqpath.com/poignant-guide/" target="_blank" alt="Why&#39;s (Poignant) Guide to Ruby">Why&#39;s (Poignant) Guide to Ruby</a></p>
          <p><a href="https://www.ruby-lang.org/en/documentation/quickstart/" target="_blank" alt="Ruby in Twenty Minutes">Ruby in Twenty Minutes</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/rails">rails</a></p>
          <p><a href="/python">python</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/8689?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->


      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/8690?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
