<template name = "scala">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://scalatutorials.com/tour/" target="_blank" alt="Scala Tutorials">Scala Tutorials</a></p>
          <p><a href="http://stackoverflow.com/a/1380699" target="_blank" alt="Learning Scala">Learning Scala</a></p>
          <p><a href="https://www.coursera.org/course/progfun" target="_blank" alt="Coursera">Coursera</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
          <p><a href="/play">play</a></p>
        </div>
      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/50677?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/50679?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
        
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
