<template name = "security">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://www.wimp.com/howencryption/" target="_blank" alt="How Encryption Works">How Encryption Works</a></p>
          <p><a href="http://math.scu.edu/~eschaefe/book.pdf" target="_blank" alt="An Introduction to Cryptography and Cryptanalysis">An Introduction to Cryptography and Cryptanalysis</a></p>

          <h3>Medium</h3>
          <p><a href="https://code.google.com/p/browsersec/wiki/Main" target="_blank" alt="Google Security Handbook">Google Security Handbook</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
<p><a href="/https">https</a></p>
<p><a href="/cloudflare">cloudflare</a></p>

        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
