<template name = "seo">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="https://static.googleusercontent.com/external_content/untrusted_dlcp/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf" target="_blank" alt="Google&#39;s Starter Guide">Google&#39;s Starter Guide</a></p>
          <p><a href="http://www.quicksprout.com/the-advanced-guide-to-seo/" target="_blank" alt="The Advanced Guide to SEO">The Advanced Guide to SEO</a></p>
          
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
