<template name = "shell">
{{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">

          <h4>Learning Resources</h4>
          <p><a href="http://readwrite.com/2014/07/18/command-line-tutorial-intro" target="_blank" alt="Don&#39;t Fear the Command Line">Don&#39;t Fear the Command Line</a></p>
          <p><a href="http://linuxcommand.org/lc3_learning_the_shell.php" target="_blank" alt="Learning the Shell">Learning the Shell</a></p>
          <p><a href="http://learnshell.org" target="_blank" alt="Learn Shell">Learn Shell</a></p>
          <p><a href="http://cli.learncodethehardway.org/book/introduction.html" target="_blank" alt="The Command Line Crash Course">The Command Line Crash Course</a></p>
<p><a href="http://explainshell.com/" target="_blank" alt="Explain Shell">Explain Shell</a></p>
<p><a href="http://www.tldp.org/LDP/abs/html/part5.html" target="_blank" alt="Advanced Topics">Advanced Topics</a></p>
          <p><a href="http://code.tutsplus.com/tutorials/the-fundamentals-of-bash-scripting--net-32093" target="_blank" alt="The Fundamentals of Bash Scripting">The Fundamentals of Bash Scripting</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h4>What next you should learn</h4>
<p><a href="/git">git</a></p>


        </div>
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/28032?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">

<!-- ZEEF widget start --><iframe src="//zeef.io/block/28039?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->


      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/28060?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
      <!-- ZEEF widget start --><iframe src="//zeef.io/block/28064?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/28033?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/28093?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
