<template name = "sql">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://sqlzoo.net/wiki/Main_Page" target="_blank" alt="SQLZoo">SQLZoo</a></p>
          <p><a href="http://www.w3schools.com/sql/" target="_blank" alt="w3schools">w3schools</a></p>
          <p><a href="http://www.sql-tutorial.ru/en/book_Intro.html" target="_blank" alt="Problems and Solutions">Problems and Solutions</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/mongo">mongo</a></p>
<p><a href="/couchdb">couchdb</a></p>
<p><a href="/neo4j">neo4j</a></p>
<p><a href="/redis">redis</a></p>
<p><a href="/memcached">memcached</a></p>
<p><a href="/postgresql">postgresql</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
