<template name = "sublime">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Learning Resources</h3>
          <p><a href="https://scotch.io/bar-talk/the-complete-visual-guide-to-sublime-text-3-getting-started-and-keyboard-shortcuts" target="_blank" alt="The Complete Visual Guide to Sublime Text 3">The Complete Visual Guide to Sublime Text 3</a></p>
          <p><a href="https://blog.generalassemb.ly/sublime-text-3-tips-tricks-shortcuts/" target="_blank" alt="Getting Started with Sublime Text 3: 25 Tips, Tricks, and Shortcuts">Getting Started with Sublime Text 3: 25 Tips, Tricks, and Shortcuts</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h3>What you should learn next</h3>
<p><a href="/python">python</a></p>
        </div>
      </div>
    
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
