<template name = "three">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
<p><a href="http://threejs.org/docs/" target="_blank" alt="Documentation">Documentation</a></p>
<p><a href="http://aerotwist.com/tutorials/getting-started-with-three-js/" target="_blank" alt="Getting Started With three.js">Getting Started With three.js</a></p>


        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/d3">d3</a></p>
<p><a href="/velocity">velocity</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
