<template name = "underscore">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://net.tutsplus.com/tutorials/javascript-ajax/getting-cozy-with-underscore-js/" target="_blank" alt="Getting Cozy with Underscore">Getting Cozy with Underscore</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/sugar">sugar</a></p>
<p><a href="/backbone">backbone</a></p>
<p><a href="/coffeescript">coffeescript</a></p>
<p><a href="/lodash">lodash</a></p>
<p><a href="/flight">flight</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
