<template name = "velocity">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://velocityjs.org" target="_blank" alt="Documentation">Documentation</a></p>
          <p><a href="http://css-tricks.com/improving-ui-animation-workflow-velocity-js/" target="_blank" alt="Improving UI Animation Workflow">Improving UI Animation Workflow</a></p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>

<p><a href="/d3">d3</a></p>
<p><a href="/three.js">three.js</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
      <div class="col-md-3">
        <div class="well">

        </div>
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
