<template name = "vim">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://vim-adventures.com/" target="_blank" alt="Vim Adventures">Vim Adventures</a></p>
          <p><a href="http://www.openvim.com/tutorial.html" target="_blank" alt="Interactive Vim Tutorial">Interactive Vim Tutorial</a></p>
          <p><a href="http://derekwyatt.org/vim/tutorials/novice/" target="_blank" alt="Vim Novice Tutorial Videos">Vim Novice Tutorial Videos</a></p>
          <p><a href="http://hackdesign.org/lessons/49" target="_blank" alt="Vim as a Design Tool">Vim as a Design Tool</a></p>
          <h3>Medium</h3>
<p><a href="http://vimgenius.com/" target="_blank" alt="Vim Genius">Vim Genius</a></p>
<h3>Hard</h3>
<p><a href="http://vimgolf.com/" target="_blank" alt="Vim Golf">Vim Golf</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
  <p><a href="/sublime text">sublime text</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <!-- ZEEF widget start --><iframe src="//zeef.io/block/45647?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
      <div class="col-md-3">
    <!-- ZEEF widget start --><iframe src="//zeef.io/block/46713?max_links=6" width="300" height="250" frameborder="0" scrolling="no"></iframe><!-- ZEEF widget end -->

      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
