<template name = "webhooks">
  {{> header}}
<div class="row"></div><div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h3>Easy</h3>
          <p><a href="http://blog.iron.io/2013/09/7-reasons-webhooks-are-magic.html" target="_blank" alt="7 Reasons Webhooks Are Magic">7 Reasons Webhooks Are Magic</a></p>
          <p><a href="https://www.runscope.com/provider-guide/troubleshooting-webhooks" target="_blank" alt="Troubleshooting Webhooks">Troubleshooting Webhooks</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
<h3>What you should learn next</h3>
<p><a href="/api">api</a></p>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
      
      </div>
    </div><!--/row-->
  </div><!--/col-12-->
</div><!--/row-->

</template>
